.navbarSetup-text {
  color: #7c879b;
  font-size: 0.9rem;
}

.navbarButton {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
}

.navbarButton .navbarSetup-button {
  border: 0;
  background-color: transparent;
}

.navbarButton-notification {
  padding: 0 10px 0 10px;
  margin: 0 10px 0 10px;
  border-left: #7c879b 1px solid;
  height: 35px;
}

.navbarButton-notification .navbarSetup-button {
  border: 0;
  background-color: transparent;
}

.filterButton-setup {
  padding: 20px 0 20px 0;
  background-color: #d8d4dc;
}

.apply-button-setup {
  border: 0;
  border-radius: 3px;
  color: #fff;
  background-color: #0c93bc;
  margin-left: 20px;
  height: 40px;
  width: 100px;
  text-transform: uppercase;
}

.form-check.activity-title {
  display: inline-block;
  margin: 0 15px 0 15px;
}

.filter-setup-title {
  margin: 0 15px 0 15px;
  text-transform: uppercase;
}

.mainbody-table {
  background-color: #f5f5f5;
  padding: 15px;
  overflow-x: auto;
}

.header-table {
  padding: 15px 15px 0 15px;
}

td {
  cursor: pointer;
}

th.code,
td.status1 {
  width: 280px;
}

th.description,
td.description {
  width: 500px;
}

th.priority,
td.priority {
  width: 340px;
}

th.impact,
td.impact {
  width: 345px;
}

table.dispatchtypes {
  border-collapse: separate !important;
  border-spacing: 0 5px;
}

.status1 {
  border-left: 8px solid #c4cbca;
}

.status2 {
  border-left: 8px solid #a40f4c;
}

.status3 {
  border-left: 8px solid #f2d600;
}

.status4 {
  border-left: 8px solid #3f4ce0de;
}

.status5 {
  border-left: 8px solid #78b142;
}

.status6 {
  border-left: 8px solid #ea6c00;
}

.fa-check-circle {
  color: #44b4cd;
}

.fa-circle.down {
  color: #f03f3f;
  margin: 0 5px 2px 0;
  height: 10px;
}

.fa-circle.noimpact {
  color: #c4cbca;
  margin: 0 5px 2px 0;
  height: 10px;
}

.fa-circle.impacting {
  color: #f2d600;
  margin: 0 5px 2px 0;
  height: 10px;
}

.fa-circle.plannedwork {
  color: #44b4cd;
  margin: 0 5px 2px 0;
  height: 10px;
}

td {
  border-bottom-width: 0 !important;
}

.status-body {
  -webkit-box-shadow: 0px 3px 8px #00000029;
          box-shadow: 0px 3px 8px #00000029;
  padding: 0 20px 0 20px;
}

.status-body2 {
  margin: 5px;
  padding: 10px;
}

.table-status-body {
  border-left: 5px solid #ea6c00;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993.5px) {
  .impactproduction-title {
    font-size: 0.73rem;
    text-align: center;
  }
}

@media only screen and (min-width: 993.5px) {
  .mainBody-status {
    display: block !important;
  }
}

.table-status {
  margin-left: 5px;
}

.abrv-status {
  text-transform: uppercase;
}

.root-cause-metrics {
  height: 47px;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #0d324d;
}

.rootcauseDown {
  border: 0;
  background-color: transparent;
  color: #fff;
}

@media only screen and (min-width: 993.5px) {
  .rootcauseDown {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {
  .rootcause-button {
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 800px #00000029;
            box-shadow: 0px 3px 800px #00000029;
    border: 1px solid #44b4cd;
    width: 100%;
    border: 0;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #44b4cd;
  }
}

@media only screen and (min-width: 993.5px) {
  .rootcause-main.collapse:not(.show) {
    display: block !important;
  }
}

@media only screen and (min-width: 993.5px) {
  .rootcause-down,
  .rootcause-button {
    display: none;
  }
}

@media only screen and (min-width: 993.5px) {
  .noShow .rootcause-button {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .rootcause-main {
    display: block;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  .rootcause-button,
  .rootcauseDown {
    display: none !important;
  }
}

.rootcause.fa-angle-up {
  font-size: 25px;
  padding-top: 8px;
  font-weight: bold;
}

.rootcause.fa-angle-down {
  color: #fff;
  padding-top: 10px;
  font-size: 25px;
}

.result {
  text-align: center;
  color: #fff;
  font-size: 40px;
  width: 100%;
  background-color: #44b4cd;
  border-radius: 3px;
}

.root-cause-metrics-body {
  background-color: #d3d5d9;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 10px 0 10px;
}

.top-lines {
  padding: 10px;
  background-color: #fff;
  margin: 10px;
}

.recent-hours,
.recent-days {
  font-size: 0.9rem;
}

.recentDispatch-header {
  color: #0d324d;
  font-weight: bold;
}

.percent-status {
  color: #0d324d;
  font-weight: bold;
}

.tab-content-header {
  width: 100%;
}

.nav-tabs {
  padding-bottom: 5px;
  border-bottom: 0 !important;
}

.nav-tabs .nav-link {
  color: #44b4cd;
  background-color: #ebebeb !important;
  margin-right: 5px;
}

@media only screen and (max-width: 993.5px) {
  .nav-tabs .nav-link {
    margin-right: 4px;
    font-size: 13px;
  }
}

.nav-tabs .nav-link.active {
  color: #fff !important;
  padding: 8px 15px 8px 15px !important;
  background-color: #44b4cd !important;
  border-bottom: 5px solid #a40f4c !important;
  border-radius: 3px;
}

@media only screen and (max-width: 993.5px) {
  nav.nav-tabs {
    float: right;
  }
}

.tab-content-header,
.tab-content-header2 {
  border-bottom: 2px solid #44b4cd;
}

.savebutton-body {
  border: 0;
  background-color: #c4cbca;
  color: #fff;
  height: 32px;
  width: 88px;
  margin-top: 10px;
}

.save-button {
  border: 0;
  background-color: #c4cbca;
  color: #fff;
  height: 32px;
  width: 88px;
  margin-top: 10px;
  float: right;
}

@media only screen and (min-width: 993.5px) {
  .savebutton-body-mobile {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {
  .savebutton-body-desktop,
  .tab-content-header2 {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {
  .savebutton-body-mobile {
    float: right;
  }
}

.active-form {
  padding-top: 28px;
}

.form-check-input:checked {
  background-color: #44b4cd !important;
  border-color: #44b4cd !important;
}

.createdupdated-body.row {
  background-color: #e8e9eb;
  padding: 10px;
  margin: 0 1px 37px 1px;
}

.fa-circle.down {
  color: #f03f3f;
  margin: 0 5px 2px 0;
  height: 10px;
}

.progress.charvel {
  background-color: transparent;
  height: 10px;
  margin-top: 10px;
}

.progress-bar.charvel {
  background-color: #44b4cd;
}

.form-text.info {
  text-transform: uppercase;
}

.dispatch-settings-header {
  margin-top: 40px;
  letter-spacing: 0.53px;
  color: #44b4cd;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #44b4cd;
}

.related-documents-body {
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 3px 8px #00000029;
          box-shadow: 0px 3px 8px #00000029;
  border: 1px solid #44b4cd;
  border-radius: 2px;
  opacity: 1;
}

.related-documents-header {
  display: inline-block;
  color: #44b4cd;
  text-decoration: underline;
  text-transform: uppercase;
}

button.angleDown {
  background-color: #fff;
  border: 0;
  float: right;
  font-size: 16px;
  color: #44b4cd;
}

.relateddocument-tableheader,
.relateddocument-tableheader-number,
.relateddocument-tableheader-ext,
.relateddocument-tableheader-name,
.relateddocument-tableheader-category,
.relateddocument-tableheader-created,
.relateddocument-category-mobile,
.relateddocument-created-mobile {
  border-bottom: 0;
}

@media only screen and (max-width: 993.5px) {
  .relateddocument-tableheader-category,
  .relateddocument-tableheader-created,
  .relateddocument-category,
  .relateddocument-created {
    display: none;
  }
}

@media only screen and (min-width: 993.5px) {
  .relateddocument-category-mobile,
  .relateddocument-created-mobile,
  .relateddocument-category-data,
  .relateddocument-created-data {
    display: none;
  }
}

.question {
  color: #44b4cd;
  text-decoration: underline !important;
}

.related-notification {
  padding: 10px;
  margin-top: 20px;
  color: #44b4cd;
  text-decoration: underline;
  text-transform: uppercase;
}

.related-action {
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 0px 3px 8px #00000029;
          box-shadow: 0px 3px 8px #00000029;
  color: #44b4cd;
  border: 1px solid #44b4cd;
  border-radius: 2px;
  opacity: 1;
  text-decoration: underline;
  text-transform: uppercase;
}

span.item {
  padding-left: 10px;
  font-size: 16px;
}

tbody.related-areas-tablebody {
  display: block;
  height: 150px;
  overflow: auto;
}

tbody.related-areas-tablebody tr.relatedareas-tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}

thead.tableheader {
  display: table;
  margin-left: -3px;
  width: 100%;
  table-layout: fixed;
  /* even columns width , fix width of table too*/
}
/*# sourceMappingURL=setup.css.map */