$mainText: #7C879B;
$mainBorder: 0;
$mainButton: transparent;
$mainButtonRadius: 3px;
$navbarMargin: 0 10px 0 10px;
$navbarPadding: 0 10px 0 10px;

.navbarSetup-text{
    color: $mainText;
}

.navbarButton{
    padding: $navbarPadding;
    margin: $navbarMargin;

    .navbarSetup-button{    
        border: $mainBorder;
        background-color: $mainButton;
    }
}

.navbarButton-notification{
    padding: $navbarPadding;
    margin: $navbarMargin;
    border-left: #7C879B 1px solid;
    height: 35px;

    .navbarSetup-button{    
        border: $mainBorder;
        background-color: $mainButton;
    }
}

// filter navbar section
$filterform: 0 15px 0 15px;
$filtertextTitle: uppercase; 

.filterButton-setup{
    padding: 20px 0 20px 0;;
    background-color: #d8d4dc;
}
.apply-button-setup{
    border: $mainBorder;    
    border-radius: $mainButtonRadius;
    color: #fff;
    background-color: #0C93BC;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    text-transform: $filtertextTitle;
}
.form-check.activity-title{
    display: inline-block;
    margin: $filterform;
}
.filter-setup-title{
    margin: $filterform;
    text-transform: $filtertextTitle;
}

// table section
.mainbody-table{
    background-color: #F5F5F5;
    padding: 15px;
}
.header-table{
    padding: 15px 15px 0 15px;
}

td.code{
    width: 239px;
}
td.description{
    width: 440px;
}
td.priority{
    width: 310px;
}
td.impact{
    width: 295px;
}