$theme-colors: (
    "primary2-button-color": #dbeff5,
    "primary-text": #fff,
    "gray3": #d5d5d5,
    "cancel-button": #ebebeb
);
@import "../node_modules/bootstrap/scss/bootstrap";

$mainText: #7c879b;
$mainBorder: 0;
$mainButton: transparent;
$mainRadius: 3px;

$navbarMargin: 0 10px 0 10px;
$navbarPadding: 0 10px 0 10px;

$primaryColor1: #44b4cd;
$primaryColor2: #0d324d;
$primaryColor3: #0c93bc;

$gray1: #f5f5f5;
$gray2: #ebebeb;
$gray3: #d5d5d5;
$gray4: #d3d5d9;
$gray5: #c4cbca;
$gray6: #8a919d;

.navbarSetup-text {
    color: $mainText;
    font-size: 0.9rem;
}
.navbarButton {
    padding: $navbarPadding;
    margin: $navbarMargin;

    .navbarSetup-button {
        border: $mainBorder;
        background-color: $mainButton;
    }
}

.navbarButton-notification {
    padding: $navbarPadding;
    margin: $navbarMargin;
    border-left: #7c879b 1px solid;
    height: 35px;

    .navbarSetup-button {
        border: $mainBorder;
        background-color: $mainButton;
    }
}

// filter navbar section
$filterform: 0 15px 0 15px;
$filtertextTitle: uppercase;

.filterButton-setup {
    padding: 20px 0 20px 0;
    background-color: #d8d4dc;
}
.apply-button-setup {
    border: $mainBorder;
    border-radius: $mainRadius;
    margin-left: 20px;
    height: 40px;
    width: 100px;
    text-transform: $filtertextTitle;
}
.form-check.activity-title {
    display: inline-block;
    margin: $filterform;
}
.filter-setup-title {
    margin: $filterform;
    text-transform: $filtertextTitle;
}

// table section
.mainbody-table {
    background-color: #f5f5f5;
    padding: 15px;
    overflow-x: auto;
}
.header-table {
    padding: 15px 15px 0 15px;
}
th.code,
td.status1 {
    width: 280px;
}
th.description,
td.description {
    width: 500px;
}
th.priority,
td.priority {
    width: 340px;
}
th.impact,
td.impact {
    width: 345px;
}
table.dispatchtypes {
    border-collapse: separate !important;
    border-spacing: 0 5px;
}

// Impact Status
$stat1: #c4cbca;
$stat2: #a40f4c;
$stat3: #f2d600;
$stat4: #3f4ce0de;
$stat5: #78b142;
$stat6: #ea6c00;
$stat7: #f03f3f;
$stat8: #44b4cd;
.status1 {
    border-left: 8px solid $stat1;
}
.status2 {
    border-left: 8px solid $stat2;
}
.status3 {
    border-left: 8px solid $stat3;
}
.status4 {
    border-left: 8px solid $stat4;
}
.status5 {
    border-left: 8px solid $stat5;
}
.status6 {
    border-left: 8px solid $stat6;
}
.fa-check-circle {
    color: $primaryColor1;
}
.fa-circle.down {
    color: $stat7;
    margin: 0 5px 2px 0;
    height: 10px;
}
.fa-circle.noimpact {
    color: $stat1;
    margin: 0 5px 2px 0;
    height: 10px;
}
.fa-circle.impacting {
    color: $stat3;
    margin: 0 5px 2px 0;
    height: 10px;
}
.fa-circle.plannedwork {
    color: $stat8;
    margin: 0 5px 2px 0;
    height: 10px;
}
// Start of Table Status
td {
    border-bottom-width: 0 !important;
}
.status-body {
    box-shadow: 0px 3px 8px #00000029;
    padding: 0 20px 0 20px;
}
.status-body2 {
    margin: 5px;
    padding: 10px;
}
@media only screen and (max-width: 993.5px) {
    table.relatedAreas {
        border-collapse: collapse !important;
        border-bottom: $gray2 1px solid;
    }
}
.table-status-body {
    border-left: 5px solid $stat6;
    margin-bottom: 10px;
}
@media only screen and (max-width: 993.5px) {
    table.relatedAreas {
        border-collapse: collapse !important;
        border-bottom: $gray2 1px solid;
    }
}
@media only screen and (max-width: 993.5px) {
    .impactproduction-title {
        font-size: 0.73rem;
        text-align: center;
    }
}

@media only screen and (min-width: 993.5px) {
    .mainBody-status {
        display: block !important;
    }
}
.table-status {
    margin-left: 5px;
}
.abrv-status {
    text-transform: uppercase;
}
.root-cause-metrics {
    height: 47px;
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: $primaryColor2;
}
.rootcauseDown {
    border: 0;
    background-color: transparent;
    color: #fff;
}
@media only screen and (min-width: 993.5px) {
    .rootcauseDown {
        display: none;
    }
}
@media only screen and (max-width: 993.5px) {
    .rootcause-button {
        position: fixed;
        bottom: 0;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0px 3px 800px #00000029;
        border: 1px solid $primaryColor1;
        width: 344px;
        border: 0;
        height: 60px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: $primaryColor1;
    }
}
@media only screen and (min-width: 993.5px) {
    .rootcause-main.collapse:not(.show) {
        display: block;
    }
}
@media only screen and (min-width: 993.5px) {
    .rootcause-down,
    .rootcause-button {
        display: none;
    }
}
@media only screen and (min-width: 993.5px) {
    .noShow .rootcause-button {
        display: none;
    }
}
@media only screen and (min-width: 767.5px) {
    .rootcause-main {
        display: block !important;
    }
}
@media only screen and (min-width: 993.5px) {
    .root-cause-metrics {
        font-size: 16px !important;
    }
}
@media only screen and (min-width: 767.5px) {
    .root-cause-metrics {
        font-size: 12px;
    }
}
@media only screen and (min-width: 768px) {
    .rootcause-button,
    .rootcauseDown {
        display: none !important;
    }
}
.rootcause.fa-angle-up {
    font-size: 25px;
    padding-top: 8px;
    font-weight: bold;
}
.rootcause.fa-angle-down {
    color: #fff;
    padding-top: 10px;
    font-size: 25px;
}
.result {
    text-align: center;
    color: #fff;
    font-size: 40px;
    width: 100%;
    background-color: $stat8;
    border-radius: $mainRadius;
}
.root-cause-metrics-body {
    background-color: $gray4;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px 0 10px;
}
.top-lines {
    padding: 10px;
    background-color: #fff;
    margin: 10px;
}
.recent-hours,
.recent-days {
    font-size: 0.9rem;
}
.recentDispatch-header {
    color: $primaryColor2;
    font-weight: bold;
}
.percent-status {
    color: $primaryColor2;
    font-weight: bold;
}

.tab-content-header {
    width: 100%;
}
.nav-tabs {
    padding-bottom: 5px;
    border-bottom: 0 !important;
    .setup-tabtitle.nav-link {
        color: $primaryColor1;
        background-color: $gray2 !important;
        margin-right: 5px;
    }
    // Code Red
    .tab-title.nav-link {
        color: $primaryColor3;
        margin-right: 5px;
    }
    @media only screen and (max-width: 993.5px) {
        .setup-tabtitle.nav-link {
            margin-right: 4px;
            font-size: 13px;
        }
    }
    .setup-tabtitle.nav-link.active {
        color: #fff !important;
        padding: 8px 15px 8px 15px !important;
        background-color: $primaryColor1 !important;
        border-bottom: 5px solid $stat2 !important;
        border-radius: $mainRadius;
    }
    // Code Red
    .tab-title.nav-link.active {
        color: $primaryColor3;
        background-color: #f2f2f2 !important;
        margin-right: 5px;
        padding: 8px 15px 8px 15px !important;
        background-color: #dbeff5 !important;
        border-radius: $mainRadius;
    }
}
@media only screen and (max-width: 993.5px) {
    nav.nav-tabs {
        float: right;
    }
}
.tab-content-header,
.tab-content-header2 {
    border-bottom: 2px solid $primaryColor1;
}
.savebutton-body {
    border: 0;
    background-color: $gray5;
    color: #fff;
    height: 32px;
    width: 88px;
    margin-top: 10px;
}

.save-button {
    border: 0;
    background-color: $gray5;
    color: #fff;
    height: 32px;
    width: 88px;
    margin-top: 10px;
    float: right;
}
@media only screen and (min-width: 993.5px) {
    .savebutton-body-mobile {
        display: none;
    }
}
@media only screen and (max-width: 993.5px) {
    .savebutton-body-desktop,
    .tab-content-header2 {
        display: none;
    }
}
@media only screen and (max-width: 993.5px) {
    .savebutton-body-mobile {
        float: right;
    }
}
.active-form {
    padding-top: 28px;
}
.form-check-input:checked {
    background-color: $primaryColor1 !important;
    border-color: $primaryColor1 !important;
}

.createdupdated-body.row {
    background-color: #e8e9eb;
    padding: 10px;
    margin: 0 1px 37px 1px;
}
.fa-circle.down {
    color: $stat7;
    margin: 0 5px 2px 0;
    height: 10px;
}
.progress.charvel {
    background-color: transparent;
    height: 10px;
    margin-top: 10px;
}
.progress-bar.charvel {
    background-color: $primaryColor1;
}

.form-text.info {
    text-transform: uppercase;
}
.dispatch-settings-header {
    margin-top: 40px;
    letter-spacing: 0.53px;
    color: $primaryColor1;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid $primaryColor1;
}
.related-documents-body {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 3px 8px #00000029;
    border: 1px solid $primaryColor1;
    border-radius: 2px;
    opacity: 1;
}
.related-documents-header {
    display: inline-block;
    color: $primaryColor1;
    text-decoration: underline;
    text-transform: uppercase;
}
button.angleDown {
    background-color: #fff;
    border: 0;
    float: right;
    font-size: 16px;
    color: $primaryColor1;
}
.relateddocument-tableheader,
.relateddocument-tableheader-number,
.relateddocument-tableheader-ext,
.relateddocument-tableheader-name,
.relateddocument-tableheader-category,
.relateddocument-tableheader-created,
.relateddocument-category-mobile,
.relateddocument-created-mobile,
.relateddocument-tableheader-priority,
.relatedquestion-tableheader,
.relatedquestion-tableheader-priority,
.relatedquestion-tableheader-created,
.relatedquestion-category-mobile,
.relatedquestion-created-mobile,
.relatedareas-category-mobile,
.relatedareas-created-mobile {
    border-bottom: 0;
}
@media only screen and (max-width: 993.5px) {
    .relatedareas-category-mobile {
        font-size: 14.5px;
    }
}

@media only screen and (max-width: 993.5px) {
    .relateddocument-tableheader-category,
    .relateddocument-tableheader-created,
    .relateddocument-category,
    .relateddocument-created,
    .relateddocument-tableheader-priority,
    .relateddocument-created-data,
    .relateddocument-priority-data,
    .relatedquestion-body,
    .related-areas-body {
        display: none;
    }
}
@media only screen and (min-width: 993.5px) {
    .relateddocument-category-mobile,
    .relateddocument-created-mobile,
    .relateddocument-category-data,
    .relateddocument-created-data,
    .relatedquestion-category-mobile,
    .relatedquestion-created-mobile,
    .relatedquestion-category-data-mobile,
    .relatedquestion-created-data-mobile,
    .relatedquestion-body-mobile,
    .related-areas-body-mobile {
        display: none;
    }
}
.question {
    color: $primaryColor1;
    text-decoration: underline !important;
}
.related-notification {
    padding: 10px;
    margin-top: 20px;
    color: $primaryColor1;
    text-decoration: underline;
    text-transform: uppercase;
}
.related-action {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 3px 8px #00000029;
    color: $primaryColor1;
    border: 1px solid $primaryColor1;
    border-radius: 2px;
    opacity: 1;
    text-decoration: underline;
    text-transform: uppercase;
}
span.item {
    padding-left: 10px;
    font-size: 16px;
}
tbody.related-areas-tablebody {
    display: block;
    height: 150px;
    overflow: auto;
}
tbody.related-areas-tablebody tr.relatedareas-tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}
thead.tableheader {
    display: table;
    margin-left: -3px;
    width: 100%;
    table-layout: fixed; /* even columns width , fix width of table too*/
}
// End of Table Status
// Start Breadcrumb
$breadcrumb-divider: quote("/");
.breadcrumb-item {
    width: auto;
}
.report-top {
    padding: 20px;
}
.breadcrumb-top {
    display: inline-block;
}
.report-save {
    float: right;
}
.reportbutton-save {
    border: 0;
    border-radius: 3px;
    background-color: $primaryColor3;
    color: #fff;
    width: 93px;
    height: 32px;
}

$press-status1: #7f2f9e;
$press-status2: #7f7e80;
.press-status {
    display: inline-block;
    text-align: center;
    background-color: $press-status1;
    color: #fff;
    width: 50px;
    border-radius: 3px;
    font-size: 12px;
}
.press-status2 {
    display: inline-block;
    text-align: center;
    background-color: $press-status2;
    color: #fff;
    width: 50px;
    border-radius: 3px;
    font-size: 12px;
}
.press-name {
    margin-left: 15px;
}
.report-tab-body {
    width: 100%;
    padding: 20px;
}
.report-content-header {
    border-bottom: 2px solid $primaryColor1;
}
@media only screen and (max-width: 993.5px) {
    .report-content-header {
        overflow: auto;
    }
}
@media only screen and (max-width: 993.5px) {
    .nav-tabs-report {
        width: 1562px;
    }
}
.nav-tabs {
    padding-bottom: 5px;
    border-bottom: 0 !important;
    .nav-link-report {
        color: $primaryColor1;
        background-color: $gray2 !important;
        margin-right: 5px;
        border: 0;
        width: 150px;
        padding: 8px 15px 8px 15px !important;
    }
    .nav-link-report.active {
        color: #fff !important;
        padding: 8px 15px 8px 15px !important;
        background-color: $primaryColor1 !important;
        border-bottom: 5px solid $stat2 !important;
        border-radius: $mainRadius;
    }
}
.code-label {
    display: flex;
}
.change {
    border: 0;
    border-radius: 3px;
    margin-left: 10px;
}
.report-form-check {
    padding: 25px;
}

.filtervariableSelect,
.report-date-control.form-control {
    font-style: italic;
}
.report-created {
    margin-top: 10px;
    padding: 20px;
    background-color: $gray2;
}
.detail-body {
    margin-top: 20px !important;
}
.details-image {
    width: 100%;
}

@mixin l2l-primary {
    color: #fff !important;
    background-color: $primaryColor1 !important;
    border-color: $primaryColor1 !important;
}

.btn-primary{
    @include l2l-primary;
}