body {
  font-family: 'Source Sans Pro', sans-serif !important;
  width: 100%;
}
#content {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.container-fluid{
  width: 100%;
  background: #EBEBEB 0% 0% no-repeat padding-box;
  padding-right: var(--bs-gutter-x, 0) !important;
  padding-left: var(--bs-gutter-x, 0) !important;
  opacity: 1;
}
.active {
  margin: 0 !important;
  background-color: #78B142;
}
a.home{
  margin-top: 5px;
}
a {
  text-decoration: none !important;
}
li.sidebar-menu a:hover{
  background-color: #ddd;
  color: #000 !important;
}
li.sidebar-menu .collapse nav.sb-sidenav-menu-nested a.nav-link:hover{
  background-color: #ddd !important;
  color: #000 !important;
}
li.sidebar-menu-cloud a.nav-link-menu:hover{
  background-color: #ddd !important;
  color: #000 !important;
}
li.sidebar-menu-cloud .collapse nav.sb-sidenav-menu-nested a.nav-link:hover{
  background-color: #ddd !important;
  color: #000 !important;
}
li.sidebar-menu a.nav-link-menu:hover{
  background-color: #ddd !important;
}
.navbar-light .navbar-nav .nav-link:hover{
  background-color: inherit;
  color: #D5D5D5;
}
.navbar-collapse{
  box-shadow: 0px 3px 8px #00000029;
  width: 100% !important;
}
.area-list .area .fa-star:hover{
  color: #FFFF00;
}
.nav-link-home{
  display: block;
  color: #0D324D;
  padding: .5rem 1rem;
}
.nav-link-home:hover{
  color: inherit;
}
button.mobile-screen{
  width: 100%;
  border: 0;
  color: #0D324D;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 993.5px) {
  button.mobile-screen{
    display: none;
  }
}
@media only screen and (max-width: 993.5px) {
  button.mobile-screen{
    min-height: 65px;
    max-height: 65px;
    margin: 0 !important;
    padding-top: 0 !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #C4CBCA;
  }
}
/** Modal **/
#settingModal {
  font-family: 'Source Sans Pro', sans-serif;
}

.well {
  background-color: #e8e8e8 !important;
  border-radius: .5rem;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.PageGroups {
  padding: 8px;
  color: #0D324D !important;
  text-transform: uppercase;
}

.CreateNewGroup {
  padding-top: 5px;
  background-color: transparent;
  border: 0;
  color: #0D324D;
}

.CardGroups {
  padding: 10px;
  margin-top: -12px;
}

.dispatch {
  background-color: #fff;
  border-radius: .4rem;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 350px !important;
}

.editIcon {
  background-color: transparent !important;
  border: 0px;
  color: #0D324D;
  margin-left: 5px;
}

.sortable-moves {
  cursor: move;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.sortable-moves {
  font-size: 10px;
  line-height: 1.55556em;
  list-style-type: none;
  margin-bottom: 7px;
  position: relative;
  cursor: move;
  background-color: #fff;
  border-radius: .4rem;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 15px;
  color: #44B4CD;
  max-width: 250px;
}

.performance {
  background-color: #fff;
  border-radius: .4rem;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 349px !important;
}

.inactiveWidgets {
  background-color: #EBEBEB;
  border-radius: .4rem;
  margin-bottom: 20px;
  max-width: 355px;
  margin-left: 5px;
}
.setButton {
  display: block;
  background-color: transparent !important;
  border: 0;
  color: #CFD0D2;
  border-right: 1px solid;
  padding-right: 10px;
}
.setButton_bell {
  display: block;
  background-color: transparent !important;
  border: 0;
  color: #CFD0D2;
  padding-right: 15px;
  padding-left: 15px;
}

/**End of Modal **/
/** sidebar Active **/
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active ul.components li {
  font-size: 13px;
  padding-left: 8px;
  padding-right: 5px;
}

#sidebar.active ul.components li a {
  padding: 8px 0;
  margin-top: 0 !important;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
}
#sidebar.active .new_dispatch{
  display: none;
}
#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}
#sidebar.active ul.components li .button button.caretDown {
  display: none;
}
#sidebar.active ul.components li span.CloudDISPATCH {
  font-size: 12px;
}

#sidebar.active ul.components li #side-icon {
  display: block;
  font-size: 30px;
  text-align: center;
  margin-left: 17px;
  color: #44B4CD;
}

#sidebar.active ul.components li.active {
  margin-top: 15px;
}
/**
#sidebar.active .footer {
  display: none;
} **/

#sidebar.active ul.components li .button button.newDispatch {
  border: 0;
  border-radius: 20px;
  background: #44B4CD 0% 0% no-repeat padding-box;
  margin: 3px 0 10px;
  margin-left: 0 !important;
  width: 40px;
  max-height: 40px;
  padding-left: 7px !important;
}
#sidebar.active ul.components li .button button.newDispatch span.new-dispatch {
  display: none;
}
#sidebar.active ul.components li .button button.newDispatch .fa-plus{
  margin-top: 5px;
  font-size: 20px;
}
#sidebar.active ul.components li .username {
  border-radius: 20px;
  background: #fff 0% 0% no-repeat padding-box;
  width: 40px;
  height: 40px;
  background-image: url("../images/username-icon.png");
  background-size: cover;
  margin-left: 9px !important;
  color: transparent;
  margin-bottom: 10px;
}

#sidebar.active ul.components li .username-email {
  display: none;
}

#sidebar.active #sidebarCollapse {
  display: block;
  margin-top: 3.5px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0 23px 23px 0;
  width: 80px;
}

#sidebar.active .dropend .dropdown-menu {
  margin-top: 0;
  margin-left: 19px !important;
  background-color: #44B4CD;
}
#sidebar.active .dropend .dropdown-menu.show{
  display: block;
}
#sidebar.active ul.components li .button .dropdown-menu a.newDispatch-dropright {
  color: #fff;
  border: 0;
  padding: 7px;
}
#sidebar.active ul.components li .button .dropdown-menu a:hover {
  background-color: #fff;
  color: black;
  border-radius: 4px;
  opacity: .5;
}
#sidebar.active ul.components li .username-wrap{
  margin: 0 !important;
}
#sidebar.active ul.components li .username-icon{
  display: none;
}
/** end of sidebar Active **/
/** sidebar NOT Active **/
#sidebar {
  min-width: 240px;
  max-width: 240px;
  background: #0D324D;
  color: #fff;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  letter-spacing: 0px;
}
#sidebar ul.components li.active {
  margin-top: 15px;
}
#sidebar ul.components li .button button.caretDown {
  height: 36px;
  width: 36px;
  border: 1px solid var(--unnamed-color-0c93bc);
  border: 1px solid #0C93BC;
  border-radius: 25px;
  opacity: 1;
  background-color: transparent;
  color: #fff;

}

#sidebar ul.components li .button button.newDispatch {
  background-color: #0C93BC;
  border: 0;
  border-radius: 20px;
  width: 60%;
  font-size: .85rem;
  margin-top: -20px;
  margin-left: 20px;
  color: #fff;
  height: 40px !important;
  padding-right: 15px;
}
#sidebar ul.components li .username-wrap {
  padding: 5px;
  margin-bottom: 10px;
}
#sidebar ul.components li .username-icon {
  border-radius: 40px;
  background: #fff 0% 0% no-repeat padding-box;
  width: 40px;
  height: 40px;
  background-image: url("../images/username-icon.png");
  background-size: cover;
  margin-left: 15px;
  position: absolute;
}
#sidebar ul.components li .username {
  margin-left: 58px;
}

#sidebar ul.components li .username-email {
  margin-left: 58px;
  font-size: 12px;
}

#sidebar ul.components li .username .username-email {
  font-size: 12px;
  margin-top: -20px;
  margin-left: 20px;
}

#sidebar ul.components li .username .username-Sam {
  border: 0;
  width: 60%;
  font-size: .85rem;
  margin-top: -20px;
  margin-left: 20px;
  color: #fff;
  height: 40px !important;
}

#sidebar #sidebarCollapse {
  display: block;
  margin-top: 3.5px;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 0 23px 23px 0;
  width: 235px;
}
#sidebar .dropend .dropdown-menu {
  margin-top: 0;
  margin-left: 66px !important;
  background-color: #44B4CD;
}
#sidebar .dropend .dropdown-menu.show{
  display: none;
}
@media only screen and (max-width: 993.5px) {
  #sidebar .dropend .dropdown-menu {
    display: none;
  }
}
#sidebar ul.components li .button .dropdown-menu a.newDispatch-dropright {
  color: #fff;
  border: 0;
  margin-top: 0px;
  padding: 7px;
}
#sidebar ul.components li .button .dropdown-menu a:hover {
  background-color: #fff;
  color: black;
  border-radius: 4px;
  opacity: .5;
}
.fa-plus{
  margin: 0 5px;
}
.footer {
  color: #B9B7BD;
  text-align: center;
}
/** end of sidebar NOT Active **/
.nav a{
  width: 100% !important;
  padding-left: 45px !important;
  padding-right: 0 !important;
}
#sidebar.active .nav a{
  width: 100% !important;
  padding-left: 0 !important;
}
@media only screen and (min-width: 993.5px) {
  .rotate {
    color: #CFD0D2;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    float: right;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 993.5px) {
  .rotate {
    color: #CFD0D2;
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    float: right;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 993.5px) {
  .rotate.right {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 5px;
    padding-left: 5px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 993.5px) {
  .rotate.right {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: 5px;
    padding-left: 5px;
    font-size: 30px;
  }
}
#sidebar.collapsing {
    height: unset;
    width: 0;
    min-width: 0;
    max-width: 0;
}
img.logo-l2l{
  margin-left: 0px;
  display: inline-block;
}
img.home-logo{
  background: transparent linear-gradient(180deg, var(--unnamed-color-0c93bc) 0%, #44B4CD 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(180deg, #0C93BC 0%, #44B4CD 100%) 0% 0% no-repeat padding-box;
opacity: 1;
padding: 10px;
border-radius: 10px;
}
span.home{
  margin-left: 5px;
  font-weight: bold;
}
.navbar-collapse{
  display: flex;
}
.search-box{
padding-left: 20px;
}
.navbar-nav .nav-link{
  padding-left: 15px !important;
}
/** Dispatches Column**/
.favorite-icon{
  color: #FFFF00 !important;
}
#dispatches_main , #performance_main{
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F5F5F5;
  padding-bottom: 25px;
  border-top: 2px solid #C4CBCA;
}
@media only screen and (max-width: 993.5px) { /**Sidebar **/
  #dispatches_main , #performance_main {
    padding: 0;
    margin-top: 0;
    border-top: 0;
  }
}
h2.dispatches-head, h2.performance-head {
  margin-top: 15px;
  color: #0C93BC;
  font-weight: bolder;
}
@media only screen and (max-width: 993.5px) {
  h2.dispatches-head, h2.performance-head {
    padding-left: 15px !important;
    margin-top: 25px;
  }
}
.dispatches-header{
  min-height: 60px;
  max-height: 60px;
  padding-left: 15px;
  display: flex;
  background-color: #fff;
}
@media only screen and (max-width: 993.5px) {
  .dispatches-header, .performance-header {
    padding: 0 !important;
    height: 65px;
    background-color: #fff;
  }
}
span.dispatches-date, span.performance-date{
  margin-top: 26px;
  margin-left: 10px;
  color: #0D324D;
}
@media only screen and (max-width: 993.5px) {
  span.dispatches-date, span.performance-date{
    font-size: .75rem;
    padding-top: 8px;
  }
}
.dispatch-column {
  border-right: 1px solid;
  border-color: #C4CBCA;
}
@media only screen and (max-width: 993.5px) {
  .dispatch-column , .skills-column{
    font-size: .75rem;
    margin: 0 !important;
  }
}
.area-list {
  min-height: 290px;
  max-height: 290px;
  width: auto;
  overflow-y: auto;
}
@media only screen and (min-width: 993.5px) {
  .area-list.collapse:not(.show), .dispatches-list.collapse:not(.show),
  .weeklyprocess-list.collapse:not(.show) , .skills-list.collapse:not(.show), .progress-bar-indicators,
  .linesrunning-list.collapse:not(.show) , .ontime-list.collapse:not(.show) , .oee-list.collapse:not(.show){
    display: block !important;
  }
}
@media only screen and (min-width: 993.5px) {
  button.dispatch-toggler, button.dispatch-toggler-dispatches, button.dispatch-toggler-skills,
  button.dispatch-toggler-currentlyopendispatches, button.dispatch-toggler-dispatchesreported {
    display: none;
  }
}
@media only screen and (max-width: 993.5px) {
  button.dispatch-toggler, button.dispatch-toggler-dispatches, button.dispatch-toggler-skills ,
  button.dispatch-toggler-currentlyopendispatches, button.dispatch-toggler-dispatchesreported{
    border: 0;
    background: 0;
  }
}
.area:hover{
  background-color: #ddd;
}
.area {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  color: #0D324D;
  min-height: 30px;
  max-height: 30px;
  padding-left: 25px;
  margin: 5px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
}
@media only screen and (max-width: 993.5px) {
  .area{
    font-size: .9rem;
  }
}
a.area-widget-link{
  padding-top: 5px;
  color: #000;
}
a:hover{
  color: #333;
}
.fa-star{
  color: #fff;
  float: right;
  width: 30px !important;
  min-height: 30px;
  min-height: 30px;
  background: #0C93BC;
  padding: 8px;
}

.dispatch-rotate , .linesrunning-rotate , .ontime-rotate, .oee-rotate{
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
  }
.dispatch-rotate.down , .linesrunning-rotate.down , .ontime-rotate.down , .oee-rotate.down{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 14px;
  }
.dispatch-rotate-dispatches{
    margin-top: 8px;
    margin-left: 10px;
    font-size: 14px;
    border: 0 !important;
    }
.dispatch-rotate-dispatches.down{
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      font-size: 14px;
    }
img.image-dispatch{
  width: 100%;
}
@media only screen and (max-width: 993.5px) { /**Sidebar **/
  img.image-dispatch {
    display: none !important;
  }
}

@media only screen and (min-width: 993.5px) {
.dispatches_title_header{
  width: 100%;
  border: 0;
  color: #0D324D;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}
}
@media only screen and (max-width: 993.5px) {
  .dispatches_title_header , .lines-running-header , .on-time-pm-completion-header,
  .oee-header{
    display: none !important;
  }
}
.btn-previous{
  background-color: #ddebef !important;
  color: #0f94bd !important;
  border-color: #0f94bd !important;
  height: 30px;
  padding-top: 2px !important;
}
.btn-current{
  background-color: #0c93bc !important;
  margin-left: 15px;
  color: #fff !important;
  height: 30px;
  padding-top: 2px !important;
}
.btn-assigned{
  background-color: #ddebef !important;
  color: #0f94bd !important;
  border-color: #0f94bd !important;
  margin-left: 15px;
  height: 30px;
  padding-top: 2px !important;
}
@media only screen and (max-width: 993.5px) {
  .dispatches-list {
    padding-top: 15px;
  }
}
@media only screen and (max-width: 993.5px) {
  .btn-previous, .btn-current, .btn-assigned  {
    padding: .03rem .2rem !important;
    font-size: 14px !important;
  }
}
button.due{
  float: right;
  margin-right: 20px;
  padding: 2px 10px;
  border-radius: .5rem;
  border-color: #25232B;
  border: 1px solid;
  color: #0D324D;
  font-size: .8rem;
}
button.expand{
  float: right;
  padding: 2px 10px;
  border-radius: .5rem;
  border-color: #25232B;
  border: 1px solid;
  color: #0D324D;
  font-size: .8rem;
}
@media only screen and (max-width: 993.5px) {
  button.due {
    font-size: .8rem !important;
  }
}
@media only screen and (max-width: 993.5px) {
  button.expand {
    display: none;
  }
}
@media only screen and (max-width: 993.5px) {
  .btn-previous, .btn-current, .btn-assigned  {
    padding: .03rem .2rem !important;
  }
}
img.due-icon{
  padding-left: 8px;
}
.dispatches-notif{
  width: 80%;
}
@media only screen and (max-width: 993.5px) {
  .dispatches-notif{
    width: 100%;
    padding: 0 12px;
  }
}
.weeklyprocess-list {
  margin-top: 20px;
  min-height: 420px;
  max-height: 420px;
  overflow-y: auto;
  transition:  0.15s ease-in-out;
}
@media only screen and (max-width: 993.5px) {
  .weeklyprocess-list{
    width: 100%;
    margin-top: 5px;
  }
}
span.weekly-date{
  margin-top: 0;
  float: right;
  padding-right: 15px;
}
span.dispatches-time{
  float: right;
  padding-right: 15px;
}
.weekly-codered{
  color: #0D324D;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #A40F4C;
  height: 60px;
  display: inline-block;
}
@media only screen and (max-width: 993.5px) {
  .weekly-codered{
    height: 100px;
    min-width: 96% !important;
    font-size: .8rem;
    padding-left: 10px;
  }
}
.weekly-leader{
  color: #0D324D;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #0C93BC;
  height: 60px;
  display: inline-block;
}
@media only screen and (max-width: 993.5px) {
  .weekly-leader{
    height: 100px;
    min-width: 96% !important;
    font-size: .8rem;
    padding-left: 10px;
  }
}
.weekly-packaging{
  color: #0D324D;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #AAD6A0;
  height: 60px;
  display: inline-block;
}
@media only screen and (max-width: 993.5px) {
  .weekly-packaging{
    height: 100px;
    min-width: 96% !important;
    font-size: .8rem;
    padding-left: 10px;
  }
}
.weekly-workorder{
  color: #0D324D;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #0D324D;
  height: 60px;
  display: inline-block;
}
@media only screen and (max-width: 993.5px) {
  .weekly-workorder{
    height: 100px;
    min-width: 96% !important;
    font-size: .8rem;
    padding-left: 10px;
  }
}
a.text-decoration-underline{
  color: #0C93BC !important;
  }
@media only screen and (min-width: 993.5px) {
      a.text-decoration-underline{
        display: none!important;
        }
    }
a.text-decoration-underline2{
  color: #0C93BC !important;
  text-decoration: underline !important;
  }
@media only screen and (max-width: 993.5px) {
    a.text-decoration-underline2{
      display: none!important;
      }
  }
/** Dispatches List **/
.code-Red{
  background-color: #A40F4C;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  line-height: .9rem;
  display: inline-block;
  text-align: center;
  font-size: .9rem;
}
@media only screen and (max-width: 993.5px) {
    .code-Red{
      margin: 0 !important;
      font-size: .7rem !important;
      }
  }
@media only screen and (min-width: 993.5px) {
    .working-on{
      display: none !important;
      }
  }
@media only screen and (max-width: 993.5px) {
    a.pressline, a.conveyor{
      text-decoration: underline !important;
      color: #0C93BC !important;
      }
  }
@media only screen and (min-width: 993.5px) {
    .breadcrumb{
      display: none !important;
      }
  }

.leader-std-work{
  background-color: #44B4CD;
  color: #0D324D;
  padding-top: 3px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  display: inline-block;
  text-align: center;
  font-size: .75rem;
}
@media only screen and (max-width: 993.5px) {
    .leader-std-work{
      margin: 0 !important;
      font-size: .7rem !important;
      }
  }
.packaging{
  background-color: #AAD6A0;
  color: #0D324D;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  line-height: .9rem;
  display: inline-block;
  text-align: center;
  font-size: .9rem;
}
@media only screen and (max-width: 993.5px) {
    .packaging{
      margin: 0 !important;
      font-size: .7rem !important;
      }
  }
.work-order{
  background-color: #0D324D;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  line-height: .9rem;
  display: inline-block;
  text-align: center;
  font-size: .9rem;
}
@media only screen and (max-width: 993.5px) {
    .work-order{
      margin: 0 !important;
      font-size: .7rem !important;
      }
  }
.work-in-progress{
  background-color: #82b89f;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  height: 23px;
  line-height: .9rem;
  display: inline-block;
  text-align: center;
  font-size: .9rem;
}
@media only screen and (max-width: 993.5px) {
  .work-in-progress{
    font-size: .7rem !important;
  }
}
button.dispatch-me{
  margin-left: 5px;
  border: 0;
  border-radius: 2px;
  color: #A40F4C;
  background-color: #ddd;
}
@media only screen and (max-width: 993.5px) {
  button.dispatch-me{
    display: none !important;
  }
}
button.dispatch-me2{
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
  color: #A40F4C;
  background-color: #ddd;
  float: right;
}
@media only screen and (min-width: 993.5px) {
  button.dispatch-me2{
    display: none !important;
  }
}
@media only screen and (max-width: 993.5px) {
  button.dispatch-me2{
    margin-right: 15px !important;
  }
}

/**End of Dispatches Column**/

/** Start of Skills Column**/
.skills-column{
  padding-right: 25px;
}
.skills-list {
  min-height: 130px;
  max-height: 130px;
  width: 100%;
  overflow-y: auto;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  .skills-list {
    font-size: .75rem !important;
  }
}
.skills-title {
  -webkit-transition:  0.15s ease-in-out;
}
.skills-screen{
  padding-left: 10px;
  padding-right: 50px;
  color: #0D324D;
  width: 100%;
}
span.retrain{
  display: inline-block;
  padding-right: 35px;
  float: right;
}
@media only screen and (max-width: 993.5px) {
  span.retrain {
    display: none !important;
  }
}
.skills-problemsolving{
  font-weight: bold;
  color: #0D324D;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  width: 95%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #A40F4C;
  height: 60px;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  .skills-problemsolving {
    padding: 10px;
  }
}
.skills-name{
  font-weight: bold;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  width: 95%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #fff;
  height: 60px;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  .skills-name {
    padding: 10px;
  }
}
span.action-needed{
  font-weight: normal;
  font-size: .9rem;
  width: 135px;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  float: right;
  background-color: #A40F4C;
  text-align: center;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  span.action-needed {
    font-size: .75rem !important;
    width: 100px;
  }
}
a.acknowledge{
  text-decoration: underline;
  font-weight: normal;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  a.acknowledge {
    text-decoration: underline !important;
    color: #0C93BC !important;
  }
}
span.date{
  float: right;
  font-weight: normal;
}
span.trainer{
  font-weight: normal;
}
.currently-open-dispatches{
  margin-top: 10px;
  padding-left: 10px;
}
@media only screen and (min-width: 993.5px) { /**skills-list **/
  .currently-open-dispatches {
    display: block !important;
  }
}
.currentlyopendispatches.progress{
  min-height: 45px;
  max-height: 45px;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  .progress {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.progress-bar-down{
  background: #A40F4C 0% 0% no-repeat padding-box;
  width: 15%;
}
.progress-bar-impacting{
  background: #F9DB6C 0% 0% no-repeat padding-box;
  width: 30%;
}
.progress-bar-plannedwork{
  background: #0C93BC 0% 0% no-repeat padding-box;
  width: 20%;
}
.progress-bar-noimpact{
  background: #D5D5D5 0% 0% no-repeat padding-box;
  width: auto;
}
.progress-bar-indicators{
  text-align: center;
  border-bottom: 1px solid #C4CBCA;
  padding: 20px;
}
@media only screen and (max-width: 993.5px) {
  .progress-bar-indicators {
    font-size: .70rem;
    padding: 15px;
    border-bottom: 0;
  }
}
.down{
  display: inline-block;
  margin-left: 10px;
}
#down{
  color: #A40F4C !important;
}
.impacting{
  display: inline-block;
  margin-left: 10px;
}
#impacting{
  color: #F9DB6C;
  margin-left: 10px;
}
.plannedwork{
  display: inline-block;
  margin-left: 10px;
}
#plannedwork{
  color: #0C93BC;
  margin-left: 10px;
}
.noimpact{
  display: inline-block;
  margin-left: 10px;
}
#noimpact{
  color: #D5D5D5;
  margin-left: 10px;
}
.dispatch-rotate-skills{
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}
.dispatch-rotate-skills.down{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}
.dispatch-rotate-currentlyopendispatches{
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}
.dispatch-rotate-currentlyopendispatches.down{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}
.dispatch-rotate-dispatchesreported{
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}
.dispatch-rotate-dispatchesreported.down{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}
@media only screen and (min-width: 993.5px) { /**skills-list **/
  .dispatch-rotate, .dispatch-rotate-dispatches,
  .dispatch-rotate-skills ,.dispatch-rotate-currentlyopendispatches, .dispatch-rotate-dispatchesreported{
    display: none !important;
  }
}
.dispatch-rotate-dispatchesreported.down{
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}
@media only screen and (max-width: 993.5px) { /**skills-list **/
  .dispatchscreens_title, .dispatches_title,  .skill_title , .currentlyopendispatches_title, .dispatchesreported_title{
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}
@media only screen and (min-width: 993.5px) { /**skills-list **/
  #progress-list .progress.collapse:not(.show) {
    display: flex !important;
  }
}
/** End of Skills Column **/

@media only screen and (min-width: 993.5px) {
  #sidebar.collapse:not(.show)  {
    display: block !important;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Small Screen **/
  nav.navbar{
    padding-top: 0;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Small Screen **/
  img.logo_l2l{
    padding-left: 15px;
  }
}
@media only screen and (min-width: 993.5px) { /**Navbar Small Screen **/
  .logo_l2l img.logo_l2l{
    display: none !important;
  }
}

@media only screen and (max-width: 993.5px) { /**Navbar Small Screen **/
  .navbar-light .fa-bars{
    color: #ddd !important;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Small Screen **/
  button.navbar-toggler{
    padding-top: 5px;
    margin-right: 10px;
    background-color: transparent;
    border: 0 !important;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Small Screen **/
  .navbar-menu{
    margin-top: 5px;
    padding-top: 7px;
    margin-bottom: 5px;
    height: 45px;
    background-size: cover;
    background-color: #000;
    width: 100%;
    /** border-radius: 0 20px 20px 0; **/
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Icon **/
  .navbar-menu .navbar-toggler{
    float: right !important;
  }
}
@media only screen and (max-width: 993.5px) { /**container-fluid **/
  .navbar-main{
    background-color: #0D324D;
    width: 100%;
    /** padding-right: 10px; */
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Not Active **/
  #sidebar{
    min-width: 100%;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Active **/
  #sidebar.active ul li{
    margin-left: 0px !important;
    padding-left: 8px !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Not Active **/
  #sidebar ul li{
    padding-left: 50px !important;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Active **/
  #sidebar.active ul li a{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Not Active **/
  #sidebar ul li a{
    border-bottom: 0;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Not Active **/
  #sidebar .dropend .dropdown-menu{
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Not Active **/
  .nav a{
    width: 100% !important;
    margin-left: 30px;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Active **/
  #sidebar.active .nav a{
    margin-left: 2.5px;
  }
}
@media only screen and (max-width: 993.5px) { /**Navbar Bar Not Active **/
  #sidebar #sidebarCollapse{
    width: 100%;
    height: 47px;
  }
}
@media only screen and (max-width: 993.5px) { /**Home Logo **/
  img.home-logo{
    display: none;
  }
}
@media only screen and (max-width: 993.5px) { /**Home Logo **/
  .navbar-nav .nav-link{
    font-size: 1rem;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 993.5px) { /**container-fluid **/
  .container-fluid{
    width: 100%;
    background: #EBEBEB 0% 0% no-repeat padding-box;
    padding-right: var(--bs-gutter-x, 0) !important;
    padding-left: var(--bs-gutter-x, 0) !important;
    opacity: 1;
  }
}
@media only screen and (max-width: 993.5px) { /**Dispatch Collapse **/
  .navbar-nav .nav-link{
    font-size: 1rem;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 993.5px) {
    .selected-nav {
        background-color: #44B4CD;
        color: #fff !important;
        font-size: 12px;
    }
}

/** Start of Performance/Stats Column **/
.performance-header{
  margin-top: 20px;
  min-height: 60px;
  max-height: 60px;
  padding-left: 15px;
  display: flex;
  background-color: #fff;
}
.lines-running{
  background-color: inherit;
  min-height: 200px;
  max-height: 200px;
}

@media only screen and (max-width: 993.5px) {
    .linesrunning-list {
      margin: 0 40px;
      height: 100px;
    }
}

@media only screen and (max-width: 993.5px) {
    .lines-running {
        min-height: 0;
    }
}
.lines-running-percentage{
  color: #0C93BC;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
}
@media only screen and (max-width: 993.5px) {
 .lines-running-percentage{
  margin-top: 12px;
  font-size: 1.75rem;
}
}
.ontime-percentage{
  color: #419650;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
}
@media only screen and (max-width: 993.5px) {
 .ontime-percentage{
  margin-top: 12px;
  font-size: 1.75rem;
}
}
.linesrunning.progress , .ontime.progress{
  height: 7px;
}
.linesrunning.progress-bar{
  background-color: #0C93BC;
}
.ontime.progress-bar{
  background-color: #419650;
}
.lines-running-active , .ontime-running-active{
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}
@media only screen and (min-width: 993.5px) {
 .lines-running-header{
  width: 100%;
  border: 0;
  color: #0D324D;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}
}
@media only screen and (max-width: 993.5px) {
  .linesrunning_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

.on-time-pm-completion{
  margin-left: 10px;
  min-height: 200px;
  max-height: 200px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 10px;
  opacity: 1;
}
@media only screen and (max-width: 993.5px) {
 .on-time-pm-completion{
  margin-left: 0;
  background-color: inherit;
  min-height: 0;
  box-shadow: none;
}
}
@media only screen and (min-width: 993.5px) {
 .on-time-pm-completion-header{
  width: 100%;
  border: 0;
  color: #0D324D;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}
}
@media only screen and (max-width: 993.5px) {
  .ontime_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}
@media only screen and (max-width: 993.5px) {
  .ontime-list {
    margin: 0 40px 10px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
}

.oee{
  margin-left: 10px;
  min-height: 200px;
  max-height: 200px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 10px;
  opacity: 1;
}
@media only screen and (max-width: 993.5px) {
 .oee{
  margin-left: 0;
  background-color: inherit;
  min-height: 0;
  box-shadow: none;
}
}
@media only screen and (min-width: 993.5px) {
 .oee-header{
  width: 100%;
  border: 0;
  color: #0D324D;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}
}
@media only screen and (max-width: 993.5px) {
  .oee_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}
@media only screen and (max-width: 993.5px) {
  .oee-list {
    margin: 0 40px 10px;
    height: 100px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
}
.oee-today-percentage{
  color: #A40F4C;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.oee-bar.progress{
  height: 7px;
  width: 100%;
}
.oee-bar.progress-bar{
  background-color: #A40F4C;
}
.oee-today{
  display: inline-block;
}
.oee-currentshifts{
  display: inline-block;
}
.oee-currentshifts-percentage{
  color: #419650;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.oee-bar-currentshifts.progress{
  height: 7px;
}
.oee-bar-currentshifts.progress-bar{
  background-color: #419650
}
.oee-today{
  font-size: 12px;
  margin: 20px 0 0 40px;
}
.oee-currentshifts{
  font-size: 12px;
  margin: 20px 0 0 40px;
}
.oee-today-text , .oee-currentshifts-text{
  margin-top: 20px;
}
/** End of Performance/Stats Column **/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #C4CBCA;
  border-radius: 10px;
}
