body {
  font-family: 'Source Sans Pro', sans-serif !important;
}

#content {
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none !important;
}

/** Modal **/
#settingModal {
  font-family: 'Source Sans Pro', sans-serif;
}

.well {
  background-color: #e8e8e8 !important;
  border-radius: .5rem;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.PageGroups {
  padding: 8px;
  color: #0D324D !important;
  text-transform: uppercase;
}

.CreateNewGroup {
  padding-top: 5px;
  background-color: transparent;
  border: 0;
  color: #0D324D;
}

.CardGroups {
  padding: 10px;
  margin-top: -12px;
}

.dispatch {
  background-color: #fff;
  border-radius: .4rem;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 350px !important;
}

.editIcon {
  background-color: transparent !important;
  border: 0px;
  color: #0D324D;
  margin-left: 5px;
}

.sortable-moves {
  cursor: move;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.sortable-moves {
  font-size: 10px;
  line-height: 1.55556em;
  list-style-type: none;
  margin-bottom: 7px;
  position: relative;
  cursor: move;
  background-color: #fff;
  border-radius: .4rem;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 15px;
  color: #44B4CD;
  max-width: 250px;
}

.performance {
  background-color: #fff;
  border-radius: .4rem;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 349px !important;
}

.inactiveWidgets {
  background-color: #EBEBEB;
  border-radius: .4rem;
  margin-bottom: 20px;
  max-width: 355px;
  margin-left: 5px;
}

.setButton {
  display: block;
  background-color: transparent !important;
  border: 0;
  color: #CFD0D2;
}

/**End of Modal **/
/** sidebar Active **/
#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active ul.components li {
  font-size: 13px;
  padding-left: 8px;
  padding-right: 5px;
}

#sidebar.active ul.components li a {
  padding: 8px 0;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
}

#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 24px;
}

#sidebar.active ul.components li span.CloudDISPATCH {
  font-size: .7rem;
}

#sidebar.active ul.components li #side-icon {
  display: block;
  font-size: 30px;
  text-align: center;
  margin-left: 17px;
  color: #44B4CD;
}

#sidebar.active ul.components li.active {
  margin-top: 15px;
}

/**
#sidebar.active .footer {
  display: none;
} **/
#sidebar.active ul.components li .button button.newDispatch {
  border: 0;
  border-radius: 20px;
  background: #44B4CD 0% 0% no-repeat padding-box;
  margin-left: -5px !important;
  width: 40px;
  max-height: 40px;
  background-image: url("../images/plus-icon.png");
  background-size: cover;
  margin-left: 10px;
  color: transparent;
}

#sidebar.active ul.components li .username {
  border-radius: 20px;
  background: #fff 0% 0% no-repeat padding-box;
  margin-left: -5px !important;
  width: 40px;
  height: 40px;
  background-image: url("../images/username-icon.png");
  background-size: cover;
  margin-left: 10px !important;
  color: transparent;
  margin-bottom: 10px;
}

#sidebar.active ul.components li .username-email {
  display: none;
}

#sidebar.active #sidebarCollapse {
  display: block;
  background: #000000 0% 0% no-repeat padding-box;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: 0.4;
  width: 80px;
}

/** end of sidebar Active **/
/** sidebar NOT Active **/
#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #0D324D;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#sidebar ul li {
  font-size: 16px;
}

#sidebar ul li>ul {
  margin-left: 10px;
}

#sidebar ul li>ul li {
  font-size: 14px;
}

#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: #B9B7BD;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  letter-spacing: 0px;
}

#sidebar ul.components li .button button.newDispatch {
  background-color: #0C93BC;
  border: 0;
  border-radius: 20px;
  width: 60%;
  font-size: .85rem;
  margin-top: -20px;
  margin-left: 20px;
  color: #fff;
  height: 40px !important;
}

#sidebar ul.components li .username {
  margin-left: 82px;
}

#sidebar ul.components li .username-email {
  margin-left: 82px;
  font-size: 12px;
}

#sidebar ul.components li .username .username-email {
  font-size: 12px;
  margin-top: -20px;
  margin-left: 20px;
}

#sidebar ul.components li .username .username-Sam {
  border: 0;
  width: 60%;
  font-size: .85rem;
  margin-top: -20px;
  margin-left: 20px;
  color: #fff;
  height: 40px !important;
}

#sidebar #sidebarCollapse {
  display: block;
  background: #000000 0% 0% no-repeat padding-box;
  border-top-right-radius: 23px;
  border-bottom-right-radius: 23px;
  opacity: 0.4;
  width: 270px;
}
.footer {
  color: #B9B7BD;
}
/** end of sidebar NOT Active **/
.rotate {
  color: #CFD0D2;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  float: right;
  padding-left: 10px;
  font-size: 40px;
}
.rotate.right {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media only screen and (min-width: 993.5px) { /**skills-list **/
  #sidebar.collapse:not(.show) {
    display: block !important;
  }
}
