body {
  font-family: "Source Sans Pro", sans-serif !important;
  width: 100%;
}

a.mainlink {
  color: #44b4cd;
}

#base-main {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 993.5px) {
  #base-main {
    padding-bottom: 80px;
  }
}

.container-fluid {
  width: 100%;
  background: #ebebeb 0% 0% no-repeat padding-box;
  padding-right: var(--bs-gutter-x, 0) !important;
  padding-left: var(--bs-gutter-x, 0) !important;
  opacity: 1;
}

button.mobile-screen {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 993.5px) {
  button.mobile-screen {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {
  button.mobile-screen {
    min-height: 65px;
    max-height: 65px;
    margin: 0 !important;
    padding-top: 0 !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #c4cbca;
  }
}

td.td-leader-std-work {
  font-size: 1rem;
  border-left: #44b4cd 10px solid;
  background-color: #fff !important;
}

td {
  background-color: #fff !important;
}

td.td-dispatchme {
  background-color: inherit !important;
}

/** Modal **/
#settingModal {
  font-family: "Source Sans Pro", sans-serif;
}

.well {
  background-color: #e8e8e8 !important;
  border-radius: 0.5rem;
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.PageGroups {
  padding: 8px;
  color: #0d324d !important;
  text-transform: uppercase;
}

.CreateNewGroup {
  padding-top: 5px;
  background-color: transparent;
  border: 0;
  color: #0d324d;
}

.CardGroups {
  padding: 10px;
  margin-top: -12px;
}

.dispatch {
  background-color: #fff;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 350px !important;
}

.editIcon {
  background-color: transparent !important;
  border: 0px;
  color: #0d324d;
  margin-left: 5px;
}

.sortable-moves {
  cursor: move;
  margin-bottom: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
}

.sortable-moves {
  font-size: 10px;
  line-height: 1.55556em;
  list-style-type: none;
  margin-bottom: 7px;
  position: relative;
  cursor: move;
  background-color: #fff;
  border-radius: 0.4rem;
  font-size: 16px;
  padding-top: 3px;
  padding-left: 15px;
  color: #44b4cd;
  max-width: 250px;
}

.performance {
  background-color: #fff;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 349px !important;
}

.inactiveWidgets {
  background-color: #ebebeb;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  max-width: 355px;
  margin-left: 5px;
}

.setButton {
  display: block;
  background-color: transparent !important;
  border: 0;
  color: #cfd0d2;
  border-right: 1px solid;
  padding-right: 10px;
}

.setButton_bell {
  display: block;
  background-color: transparent !important;
  border: 0;
  color: #cfd0d2;
  padding-right: 15px;
  padding-left: 15px;
}

/**End of Modal **/

/** Dispatches Column**/
.favorite-icon {
  color: #ffff00 !important;
}

#dispatches_main,
#performance_main {
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #f5f5f5;
  padding-bottom: 25px;
  border-top: 2px solid #c4cbca;
}

@media only screen and (max-width: 993.5px) {

  /**Sidebar **/
  #dispatches_main,
  #performance_main {
    padding: 0;
    margin-top: 0;
    border-top: 0;
  }
}

h2.dispatches-head,
h2.performance-head {
  margin-top: 15px;
  color: #0c93bc;
  font-weight: bolder;
}

@media only screen and (max-width: 993.5px) {

  h2.dispatches-head,
  h2.performance-head {
    padding-left: 15px !important;
    margin-top: 25px;
  }
}

.dispatches-header {
  min-height: 60px;
  max-height: 60px;
  padding-left: 15px;
  display: flex;
  background-color: #fff;
}

@media only screen and (max-width: 993.5px) {

  .dispatches-header,
  .performance-header {
    padding: 0 !important;
    height: 65px;
    background-color: #fff;
  }
}

span.dispatches-date,
span.performance-date {
  margin-top: 26px;
  margin-left: 10px;
  color: #0d324d;
}

@media only screen and (max-width: 993.5px) {

  span.dispatches-date,
  span.performance-date {
    font-size: 0.75rem;
    padding-top: 8px;
  }
}

.dispatch-column {
  border-right: 1px solid;
  border-color: #c4cbca;
}

@media only screen and (max-width: 993.5px) {

  .dispatch-column,
  .skills-column {
    font-size: 0.75rem;
    margin: 0 !important;
  }
}

.area-list {
  min-height: 290px;
  max-height: 290px;
  width: auto;
  overflow-y: auto;
}

@media only screen and (max-width: 993.5px) {
  .area-list {
    margin: 10px 0 10px 0;
  }
}

@media only screen and (min-width: 993.5px) {

  .area-list.collapse:not(.show),
  .dispatches-list.collapse:not(.show),
  .weeklyprocess-list.collapse:not(.show),
  .skills-list.collapse:not(.show),
  .progress-bar-indicators,
  .linesrunning-list.collapse:not(.show),
  .ontime-list.collapse:not(.show),
  .oee-list.collapse:not(.show),
  .topspares-body.collapse:not(.show),
  .downtime-body.collapse:not(.show),
  .downtime-list.collapse:not(.show),
  .downoccurence-list.collapse:not(.show),
  .production-machine-downtime-body.collapse:not(.show) {
    display: block !important;
  }
}

@media only screen and (min-width: 993.5px) {

  button.dispatch-toggler,
  button.dispatch-toggler-dispatches,
  button.dispatch-toggler-skills,
  button.dispatch-toggler-currentlyopendispatches,
  button.dispatch-toggler-dispatchesreported {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {

  button.dispatch-toggler,
  button.dispatch-toggler-dispatches,
  button.dispatch-toggler-skills,
  button.dispatch-toggler-currentlyopendispatches,
  button.dispatch-toggler-dispatchesreported {
    border: 0;
    background: 0;
  }
}

.area:hover {
  background-color: #ddd;
}

.area {
  cursor: pointer;
  justify-content: space-between;
  display: flex;
  color: #0d324d;
  min-height: 30px;
  max-height: 30px;
  padding-left: 25px;
  margin: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
}

@media only screen and (max-width: 993.5px) {
  .area {
    font-size: 0.9rem;
  }
}

a.area-widget-link {
  padding-top: 5px;
  color: #000;
}

a:hover {
  color: #333;
}

.fa-star {
  color: #fff;
  float: right;
  width: 30px !important;
  min-height: 30px;
  min-height: 30px;
  background: #0c93bc;
  padding: 8px;
}

.dispatch-rotate,
.linesrunning-rotate,
.ontime-rotate,
.oee-rotate,
.topspares-rotate,
.downtime-rotate,
.downoccurence-rotate,
.production-machine-rotate {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}

.dispatch-rotate.down,
.linesrunning-rotate.down,
.ontime-rotate.down,
.topspares-rotate.down,
.oee-rotate.down,
.downtime-rotate.down,
.downoccurence-rotate.down,
.production-machine-rotate.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}

.dispatch-rotate-dispatches {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}

.dispatch-rotate-dispatches.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}

img.image-dispatch {
  width: 100%;
}

@media only screen and (max-width: 993.5px) {

  /**Sidebar **/
  img.image-dispatch {
    display: none !important;
  }
}

@media only screen and (min-width: 993.5px) {
  .dispatches_title_header {
    width: 100%;
    border: 0;
    color: #0d324d;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 993.5px) {

  .dispatches_title_header,
  .lines-running-header,
  .on-time-pm-completion-header,
  .oee-header,
  .topspares-header,
  .downtime-header,
  .downoccurence-header,
  .production-machine-header {
    display: none !important;
  }
}

.btn-previous {
  background-color: #ddebef !important;
  color: #0f94bd !important;
  border-color: #0f94bd !important;
  height: 30px;
  padding-top: 2px !important;
}

.btn-current {
  background-color: #0c93bc !important;
  margin-left: 15px;
  color: #fff !important;
  height: 30px;
  padding-top: 2px !important;
}

.btn-assigned {
  background-color: #ddebef !important;
  color: #0f94bd !important;
  border-color: #0f94bd !important;
  margin-left: 15px;
  height: 30px;
  padding-top: 2px !important;
}

.dispatches-list {
  width: 100%;
}

@media only screen and (max-width: 993.5px) {
  .dispatches-list {
    padding-top: 15px;
  }
}

@media only screen and (max-width: 993.5px) {

  .btn-previous,
  .btn-current,
  .btn-assigned {
    padding: 0.03rem 0.2rem !important;
    font-size: 14px !important;
  }
}

button.due {
  float: right;
  margin-right: 20px;
  padding: 2px 10px;
  border-radius: 0.5rem;
  border-color: #25232b;
  border: 1px solid;
  color: #0d324d;
  font-size: 0.8rem;
}

button.td-due {
  padding: 2px 10px;
  border-radius: 0.5rem;
  border-color: #25232b;
  border: 1px solid;
  color: #0d324d;
  font-size: 0.8rem;
}

button.expand {
  float: right;
  padding: 2px 10px;
  border-radius: 0.5rem;
  border-color: #25232b;
  border: 1px solid;
  color: #0d324d;
  font-size: 0.8rem;
}

@media only screen and (max-width: 993.5px) {
  button.due {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 993.5px) {
  button.expand {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {

  .btn-previous,
  .btn-current,
  .btn-assigned {
    padding: 0.03rem 0.2rem !important;
  }
}

img.due-icon {
  padding-left: 8px;
}

.dispatches-notif {
  width: 80%;
}

@media only screen and (max-width: 993.5px) {
  .dispatches-notif {
    width: 100%;
    padding: 0 12px;
  }
}

.weeklyprocess {
  width: 100%;
}

.weeklyprocess-list {
  margin-top: 20px;
  min-height: 420px;
  max-height: 420px;
  overflow-y: auto;
  transition: 0.15s ease-in-out;
  width: 100%;
}

@media only screen and (max-width: 993.5px) {
  .weeklyprocess-list {
    width: 100%;
    margin-top: 5px;
  }
}

span.weekly-date {
  margin-top: 0;
  float: right;
  padding-right: 15px;
}

span.dispatches-time {
  float: right;
  padding-right: 15px;
}

.weekly-codered {
  color: #0d324d;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #a40f4c;
  height: 60px;
  display: inline-block;
}

@media only screen and (max-width: 993.5px) {
  .weekly-codered {
    height: 100px;
    min-width: 96% !important;
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

.weekly-leader {
  color: #0d324d;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #0c93bc;
  height: 60px;
  display: inline-block;
}

@media only screen and (max-width: 993.5px) {
  .weekly-leader {
    height: 100px;
    min-width: 96% !important;
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

.weekly-packaging {
  color: #0d324d;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #aad6a0;
  height: 60px;
  display: inline-block;
}

@media only screen and (max-width: 993.5px) {
  .weekly-packaging {
    height: 100px;
    min-width: 96% !important;
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

.weekly-workorder {
  color: #0d324d;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  min-width: 80%;
  max-width: 80%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #0d324d;
  height: 60px;
  display: inline-block;
}

@media only screen and (max-width: 993.5px) {
  .weekly-workorder {
    height: 100px;
    min-width: 96% !important;
    font-size: 0.8rem;
    padding-left: 10px;
  }
}

a.text-decoration-underline {
  color: #0c93bc !important;
}

@media only screen and (min-width: 993.5px) {
  a.text-decoration-underline {
    display: none !important;
  }
}

a.text-decoration-underline2 {
  color: #0c93bc !important;
  text-decoration: underline !important;
}

@media only screen and (max-width: 993.5px) {
  a.text-decoration-underline2 {
    display: none !important;
  }
}

/** Dispatches List **/
.code-Red {
  background-color: #a40f4c;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  line-height: 0.9rem;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (max-width: 993.5px) {
  .code-Red {
    margin: 0 !important;
    font-size: 0.7rem !important;
  }
}

@media only screen and (min-width: 993.5px) {
  .working-on {
    display: none !important;
  }
}

@media only screen and (max-width: 993.5px) {

  a.pressline,
  a.conveyor {
    text-decoration: underline !important;
    color: #0c93bc !important;
  }
}

@media only screen and (min-width: 993.5px) {
  li.breadcrumb-item.dispatches {
    display: none !important;
  }
}

.leader-std-work {
  background-color: #44b4cd;
  color: #0d324d;
  padding-top: 3px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  display: inline-block;
  text-align: center;
  font-size: 0.75rem;
}

.divB-leader-std-work {
  background-color: #44b4cd;
  color: #0d324d;
  padding-top: 3px;
  border-radius: 50px;
  width: 100px !important;
  height: 23px;
  display: inline-block;
  text-align: center;
  font-size: 0.75rem;
}

@media only screen and (max-width: 993.5px) {
  .leader-std-work {
    margin: 0 !important;
    font-size: 0.7rem !important;
  }
}

.packaging {
  background-color: #aad6a0;
  color: #0d324d;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  line-height: 0.9rem;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (max-width: 993.5px) {
  .packaging {
    margin: 0 !important;
    font-size: 0.7rem !important;
  }
}

.work-order {
  background-color: #0d324d;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  width: 100px !important;
  height: 23px;
  line-height: 0.9rem;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (max-width: 993.5px) {
  .work-order {
    margin: 0 !important;
    font-size: 0.7rem !important;
  }
}

.work-in-progress {
  background-color: #82b89f;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  margin-left: 10px;
  height: 23px;
  line-height: 0.9rem;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
}

.divB-work-in-progress {
  background-color: #82b89f;
  color: #fff;
  padding: 5px;
  border-radius: 50px;
  height: 23px;
  line-height: 0.9rem;
  display: inline-block;
  text-align: center;
  font-size: 0.9rem;
}

@media only screen and (max-width: 993.5px) {
  .divB.hide {
    display: none;
  }
}

a.link3030,
a.pressline2,
a.conveyor {
  color: #0c93bc !important;
  text-decoration: underline !important;
}

@media only screen and (max-width: 993.5px) {
  .work-in-progress {
    font-size: 0.7rem !important;
  }
}

button.dispatch-me {
  margin-left: 5px;
  border: 0;
  border-radius: 2px;
  color: #a40f4c;
  background-color: #ddd;
}

button.td-dispatch-me {
  margin: 15px;
  border: 0;
  border-radius: 2px;
  color: #a40f4c;
  background-color: #ddd;
}

@media only screen and (max-width: 993.5px) {
  button.dispatch-me {
    display: none !important;
  }
}

button.dispatch-me2 {
  margin-left: 5px;
  border: 0;
  border-radius: 5px;
  color: #a40f4c;
  background-color: #ddd;
  float: right;
}

@media only screen and (min-width: 993.5px) {
  button.dispatch-me2 {
    display: none !important;
  }
}

@media only screen and (max-width: 993.5px) {
  button.dispatch-me2 {
    margin-right: 15px !important;
  }
}

/**End of Dispatches Column**/
/** Start of Skills Column**/
.skills-column {
  padding-right: 25px;
}

.skills-list {
  min-height: 130px;
  max-height: 130px;
  width: 100%;
  overflow-y: auto;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  .skills-list {
    font-size: 0.75rem !important;
  }
}

.skills-title {
  -webkit-transition: 0.15s ease-in-out;
}

.skills-screen {
  padding-left: 10px;
  padding-right: 50px;
  color: #0d324d;
  width: 100%;
}

span.retrain {
  display: inline-block;
  padding-right: 35px;
  float: right;
}

@media only screen and (max-width: 993.5px) {
  span.retrain {
    display: none !important;
  }
}

.skills-problemsolving {
  font-weight: bold;
  color: #0d324d;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  width: 95%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #a40f4c;
  height: 60px;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  .skills-problemsolving {
    padding: 10px;
  }
}

.skills-name {
  font-weight: bold;
  padding-top: 7px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 5px;
  margin-left: 10px;
  width: 95%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 3px #00000029;
  border-radius: 2px;
  opacity: 1;
  border-left: 10px solid;
  border-color: #fff;
  height: 60px;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  .skills-name {
    padding: 10px;
  }
}

span.action-needed {
  font-weight: normal;
  font-size: 0.9rem;
  width: 135px;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  float: right;
  background-color: #a40f4c;
  text-align: center;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  span.action-needed {
    font-size: 0.75rem !important;
    width: 100px;
  }
}

a.acknowledge {
  text-decoration: underline;
  font-weight: normal;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  a.acknowledge {
    text-decoration: underline !important;
    color: #0c93bc !important;
  }
}

span.date {
  float: right;
  font-weight: normal;
}

span.trainer {
  font-weight: normal;
}

.currently-open-dispatches {
  margin-top: 10px;
  padding-left: 10px;
}

@media only screen and (min-width: 993.5px) {

  /**skills-list **/
  .currently-open-dispatches {
    display: block !important;
  }
}

.currentlyopendispatches.progress {
  min-height: 45px;
  max-height: 45px;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  .progress {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.progress-bar-down {
  background: #a40f4c 0% 0% no-repeat padding-box;
  width: 15%;
}

.progress-bar-impacting {
  background: #f9db6c 0% 0% no-repeat padding-box;
  width: 30%;
}

.progress-bar-plannedwork {
  background: #0c93bc 0% 0% no-repeat padding-box;
  width: 20%;
}

.progress-bar-noimpact {
  background: #d5d5d5 0% 0% no-repeat padding-box;
  width: auto;
}

.progress-bar-indicators {
  text-align: center;
  border-bottom: 1px solid #c4cbca;
  padding: 20px;
}

@media only screen and (max-width: 993.5px) {
  .progress-bar-indicators {
    font-size: 0.7rem;
    padding: 15px;
    border-bottom: 0;
  }
}

.down {
  display: inline-block;
  margin-left: 10px;
}

#down {
  color: #a40f4c;
}

.impacting {
  display: inline-block;
  margin-left: 10px;
}

#impacting {
  color: #f9db6c;
  margin-left: 10px;
}

.plannedwork {
  display: inline-block;
  margin-left: 10px;
}

#plannedwork {
  color: #0c93bc;
  margin-left: 10px;
}

.noimpact {
  display: inline-block;
  margin-left: 10px;
}

#noimpact {
  color: #d5d5d5;
  margin-left: 10px;
}

.dispatch-rotate-skills {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}

.dispatch-rotate-skills.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}

.dispatch-rotate-currentlyopendispatches {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}

.dispatch-rotate-currentlyopendispatches.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}

.dispatch-rotate-dispatchesreported {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 14px;
  border: 0 !important;
}

.dispatch-rotate-dispatchesreported.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}

@media only screen and (min-width: 993.5px) {

  /**skills-list **/
  .dispatch-rotate,
  .dispatch-rotate-dispatches,
  .dispatch-rotate-skills,
  .dispatch-rotate-currentlyopendispatches,
  .dispatch-rotate-dispatchesreported {
    display: none !important;
  }
}

.dispatch-rotate-dispatchesreported.down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 14px;
}

@media only screen and (max-width: 993.5px) {

  /**skills-list **/
  .dispatchscreens_title,
  .dispatches_title,
  .skill_title,
  .currentlyopendispatches_title,
  .dispatchesreported_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

@media only screen and (min-width: 993.5px) {

  /**skills-list **/
  #progress-list .progress.collapse:not(.show) {
    display: flex !important;
  }
}

/** End of Skills Column **/

@media only screen and (max-width: 993.5px) {

  /**container-fluid **/
  .container-fluid {
    width: 100%;
    background: #ebebeb 0% 0% no-repeat padding-box;
    padding-right: var(--bs-gutter-x, 0) !important;
    padding-left: var(--bs-gutter-x, 0) !important;
    opacity: 1;
  }
}

@media only screen and (max-width: 993.5px) {
  .selected-nav {
    background-color: #44b4cd;
    color: #fff !important;
    font-size: 12px;
  }
}

/** Start of Performance/Stats Column **/
.performance-header {
  margin-top: 20px;
  min-height: 60px;
  max-height: 60px;
  padding-left: 15px;
  display: flex;
  background-color: #fff;
}

.lines-running {
  margin-left: 20px;
  background-color: inherit;
}

@media only screen and (max-width: 993.5px) {
  .linesrunning-list {
    margin: 0 40px;
    height: 100px;
  }
}

@media only screen and (max-width: 993.5px) {
  .lines-running {
    min-height: 0;
    margin-left: 0;
  }
}

.lines-running-percentage {
  color: #0c93bc;
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 993.5px) {
  .lines-running-percentage {
    margin-top: 12px;
    font-size: 1.75rem;
  }
}

.ontime-percentage {
  color: #419650;
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 993.5px) {
  .ontime-percentage {
    margin-top: 12px;
    font-size: 1.75rem;
  }
}

.linesrunning.progress,
.ontime.progress {
  height: 7px;
}

.linesrunning.progress-bar {
  background-color: #0c93bc;
}

.ontime.progress-bar {
  background-color: #419650;
}

.lines-running-active,
.ontime-running-active {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.lines-running-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993.5px) {
  .linesrunning_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

.on-time-pm-completion {
  margin-left: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 10px;
  opacity: 1;
}

@media only screen and (max-width: 993.5px) {
  .on-time-pm-completion {
    margin-left: 0;
    background-color: inherit;
    min-height: 0;
    box-shadow: none;
  }
}

.on-time-pm-completion-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993.5px) {
  .ontime_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

@media only screen and (max-width: 993.5px) {
  .ontime-list {
    margin: 0 40px 10px;
    height: 100px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
}

.oee {
  margin-left: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 10px;
  opacity: 1;
  padding-bottom: 20px;
}

@media only screen and (max-width: 993.5px) {
  .oee {
    margin-left: 0;
    background-color: inherit;
    box-shadow: none;
    padding: 0;
  }
}

.oee-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993.5px) {
  .oee_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

@media only screen and (max-width: 993.5px) {
  .oee-list {
    margin: 15px 40px 15px 45px;
    height: 100px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
}

.oee-today-percentage {
  color: #a40f4c;
  font-size: 20px;
  text-align: center;
}

.oee-bar.progress {
  height: 7px;
  width: 100%;
}

@media only screen and (max-width: 993.5px) {

  .oee-bar.progress,
  .oee-bar-currentshifts.progress {
    margin: 0;
  }
}

.oee-bar.progress-bar {
  background-color: #a40f4c;
}

.oee-today {
  font-size: 12px;
  display: inline-block;
}

.oee-currentshifts {
  display: inline-block;
  font-size: 12px;
  margin-left: 30px;
}

.oee-currentshifts-percentage {
  color: #419650;
  font-size: 20px;
  text-align: center;
}

.oee-bar-currentshifts.progress {
  height: 7px;
}

.oee-bar-currentshifts.progress-bar {
  background-color: #419650;
}

.oee-today-text,
.oee-currentshifts-text {
  margin-top: 20px;
}

@media only screen and (max-width: 993.5px) {
  .topspares_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

.topspares-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

.top-spares {
  margin-left: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 10px;
  opacity: 1;
}

@media only screen and (max-width: 993.5px) {
  .top-spares {
    min-width: 100% !important;
    margin-left: 0;
    background-color: inherit;
    min-height: 0;
    box-shadow: none;
  }
}

.topspares-names {
  float: left;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #4d4d4f;
  opacity: 1;
  margin-top: -6px;
  margin-right: 8px;
  padding-top: 0 !important;
}

.topspares.progress {
  height: 7px;
  display: flex;
  width: 84%;
}

@media only screen and (max-width: 993.5px) {
  .topspares.progress {
    width: auto;
  }
}

.topspares-body {
  margin-top: 30px;
}

@media only screen and (max-width: 993.5px) {
  .topspares-body {
    margin: 15px 15px 15px 15px;
    padding: 20px;
    height: 80px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    opacity: 1;
  }
}

.topspares-bar.progress-bar {
  background-color: #0c93bc;
}

span.topspares-number {
  float: right;
  margin-top: -13px;
  font-size: 12px;
}

@media only screen and (max-width: 993.5px) {
  span.topspares-number {
    margin-right: -8px;
  }
}

.topspares-records {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.downtime {
  margin-top: 10px !important;
  margin-left: 15px;
  border-radius: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
}

.downtime-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993.5px) {
  .downtime_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

span.time-name {
  font-weight: bold;
  color: #0c93bc;
  font-size: 0.9rem;
  opacity: 1;
}

span.downtime-status {
  color: #a40f4c;
  text-transform: none;
  display: inline-block;
  float: right;
  margin-top: 2px;
}

#downtime-square {
  color: #a40f4c;
}

@media only screen and (max-width: 993.5px) {
  .downtime {
    margin: 0 !important;
    background-color: inherit;
    min-width: 100% !important;
    box-shadow: none;
  }
}

.oee-status {
  margin-top: 20px;
  text-align: center !important;
}

@media only screen and (max-width: 993.5px) {
  .oee-status {
    padding-top: 10px;
    text-align: center !important;
  }
}

#expand {
  text-decoration: none;
}

.newClass {
  width: 1380px !important;
}

.hide {
  display: none;
}

@media only screen and (max-width: 993.5px) {
  .hide {
    display: none;
  }
}

.assembly-names {
  float: left;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #4d4d4f;
  opacity: 1;
  margin-top: -6px;
  margin-right: 8px;
  padding-top: 0 !important;
}

td.assembly-line-name {
  font-size: 12px;
  font-weight: normal;
  width: 130px;
  border-bottom-width: 0 !important;
}

td.downtimebar {
  width: 380px;
  border-bottom-width: 0 !important;
}

td.downtime-time {
  font-size: 12px;
  float: right;
  border-bottom-width: 0 !important;
}

.downtime-status.progress {
  margin-top: 7px;
  height: 7px;
}

.downtime-status-bar.progress-bar {
  background-color: #a40f4c;
}

table.dispatches {
  border-collapse: separate !important;
  border-spacing: 0 10px;
  overflow-y: auto;
}

@media only screen and (max-width: 993.5px) {
  table {
    border-collapse: collapse !important;
  }
}

@media only screen and (max-width: 993.5px) {
  .downtime-list {
    margin: 20px 20px 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
  }
}

.downtime-tablelist {
  overflow-y: auto;
  min-height: 150px;
  max-height: 150px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 993.5px) {
  .downtime-tablelist {
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 993.5px) {
  .downtime-currentlydown {
    text-align: right;
    padding-top: 10px;
    margin-right: 25px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 993.5px) {
  .downtime-currentlydown {
    display: none;
  }
}

#downoccurence-square {
  color: #a40f4c;
  margin-right: 8px;
}

@media only screen and (max-width: 993.5px) {
  #downoccurence-square {
    margin-right: 0;
  }
}

.downoccurence {
  margin-top: 10px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  margin-left: 15px;
  border-radius: 10px;
}

@media only screen and (max-width: 993.5px) {
  .downoccurence {
    margin: 0 !important;
    background-color: inherit;
    box-shadow: none;
  }
}

@media only screen and (max-width: 375px) {
  .downoccurence-status-list {
    display: inline-block;
    padding: 0 !important;
  }
}

.downoccurence-status-list {
  text-align: center;
}

.downoccurence-status-listname {
  width: 68px;
  display: inline-block;
  margin: 0 20px 0 20px;
}

@media only screen and (max-width: 993.5px) {
  .downoccurence-status-listname {
    margin-left: 10px;
  }
}

.downoccurence-status-number {
  text-align: center;
  font-size: 4rem;
  color: #0c93bc;
}

@media only screen and (max-width: 993.5px) {
  .downoccurence-status-number {
    font-size: 3rem;
  }
}

.downoccurence-status-name {
  font-size: 0.8rem;
}

.downoccurence-list-items {
  margin-left: 5px;
}

@media only screen and (max-width: 993.5px) {
  .downoccurence-list-items {
    margin: 15px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
    padding: 5px;
  }
}

span.occurence-name {
  font-weight: bold;
  color: #0c93bc;
  font-size: 0.9rem;
  opacity: 1;
}

span.downoccurence {
  color: #a40f4c;
  text-transform: none;
  display: inline-block;
  float: right;
  margin-top: 2px;
}

span.downoccurence-status {
  color: #a40f4c;
  text-transform: none;
  display: inline-block;
  float: right;
  margin-top: 2px;
}

@media only screen and (max-width: 993.5px) {
  .downoccurence_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

.downoccurence-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

.production-machine-downtime {
  margin-top: 10px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000029;
  margin-left: 15px;
  border-radius: 10px;
}

@media only screen and (max-width: 993.5px) {
  .production-machine-downtime {
    margin: 0 !important;
    background-color: inherit;
    box-shadow: none;
  }
}

.production-machine-header {
  width: 100%;
  border: 0;
  color: #0d324d;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 993.5px) {
  .production-machine_title {
    width: 100%;
    text-align: left;
    min-height: 55px;
    max-height: 55px;
    padding-top: 13px;
  }
}

.production-machine-downtime {
  float: left;
  text-align: left;
  font-size: 12px;
  letter-spacing: 0px;
  color: #4d4d4f;
  opacity: 1;
  margin-top: -6px;
  margin-right: 8px;
  padding-top: 0 !important;
}

td.production-machine-name {
  font-size: 12px;
  font-weight: normal;
  width: 130px;
  border-bottom-width: 0 !important;
}

td.productmachinebar {
  width: 380px;
  border-bottom-width: 0 !important;
}

.production-machine-status.progress {
  margin-top: 7px;
  height: 7px;
}

.production-machine-bar.progress-bar {
  background-color: #0c93bc;
}

@media only screen and (max-width: 993.5px) {
  .production-machine-downtime-body {
    margin: 20px 20px 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 8px #00000029;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 993.5px) {
  .productmachine-tablelist {
    padding-top: 5px;
    margin: 20px;
    min-height: 150px;
    max-height: 150px;
  }
}

table.table.productmachine-table {
  border-spacing: 0 0.5px;
}

/** End of Performance/Stats Column **/
/** Start of CloudDISPATCH **/
.codeRed-body {
  cursor: pointer;
}

@media only screen and (max-width: 993.5px) {

  .codeRed-body {
    display: inline-flex;
  }
}

.apply_cancel-button {
  text-align: right;
}

button.cancel-button {
  text-transform: uppercase;
}

button.apply-button {
  margin-left: 5px;
  text-transform: uppercase;
}

.hide {
  display: none;
}

.followUp {
  border: 0;
  border-radius: 3px;
  width: 93px;
  height: 32px;
  background-color: #8a919d;
  color: #fff;
}

.followUp {
  border: 0;
  border-radius: 3px;
  width: 93px;
  height: 32px;
  background-color: #8a919d;
  color: #fff;
}

.fa-question-circle {
  margin-right: 5px;
}

@media only screen and (max-width: 993.5px) {
  li.breadcrumb-item.tooling {
    display: none;
  }
}

button.savefilter-button {
  margin-left: 20px;
  border: 0;
  border-radius: 3px;
  color: #000;
  width: 100px;
  text-transform: uppercase;
}

button.newfilter-button {
  margin-left: 20px;
  margin-right: 15px;
  color: #fff;
  width: 150px;
  text-transform: uppercase;
  float: right;
}

.save-filter-body {
  width: 100%;
  margin-top: 15px;
  display: inline-block;
}

.new-filter {
  float: right;
}

.myDispatches.form-check {
  width: auto;
  display: inline-block !important;
}

@media only screen and (max-width: 993.5px) {
  .clouddispatch-navbar {
    background-color: #0d324d;
    position: fixed;
    height: 70px;
    bottom: 0;
    width: 100%;
    padding-right: 10px;
    z-index: 1;
  }
}

@media only screen and (max-width: 993.5px) {

  li.nav-item-clouddispatch,
  form.search-box-clouddispatch,
  .setButton-clouddispatch_bell {
    display: none !important;
  }
}

.clouddispatch-notif {
  display: inline-block;
  padding: 0 0 0 10px;
  margin-top: 10px;
}

.filter-notif {
  background-color: #a40f4c;
  font-size: 14px;
  border-radius: 12px;
  padding: 0 5px 0 5px;
  margin-left: 5px;
  color: #fff;
}

.btn.all-notif {
  color: #fff;
}

.btn.dispatch-notif {
  color: #44b4cd;
  border: #44b4cd 1px solid;
  margin-left: 5px;
}

/** Code Red Row **/
.codeRed-main {
  margin: 10px 10px 0 10px;
  border: #dc3545 2px solid;
  border-left: #dc3545 10px solid;
  padding: 5px;
}

.codeRed-main2 {
  margin: 0 10px 0 10px;
  border-bottom: #dc3545 2px solid;
  border-right: #dc3545 2px solid;
  border-left: #dc3545 10px solid;
  padding: 5px;
}

.codeRed-main.noborder-bottom {
  border-bottom: none;
}

.codeRed-main2-header,
.history-header {
  display: inline-block;
}

.history-header {
  float: right;
}

@media only screen and (max-width: 993.5px) {
  .codeRed-main2-header {
    overflow: auto;
    width: 363px;
  }
}

@media only screen and (max-width: 993.5px) {
  .codeRed-main2-tabs {
    width: 680px;
  }
}

.number-id {
  display: inline-block;
  margin-left: 10px;
}

.status-breadcrumb.breadcrumb {
  margin-bottom: 0;
}

.codered {
  display: inline-block;
  background-color: #dc3545;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  width: 70px;
  margin: 5px;
  padding: 2px;
  color: #fff;
}

.new {
  display: inline-block;
  background-color: #419650;
  border-radius: 50px;
  font-size: 14px;
  text-align: center;
  width: 40px;
  margin: 5px;
  padding: 2px;
}

.btn.dispatchme {
  color: #419650;
}

.dispatchme {
  float: right;
  display: inline-flex;
}

@media only screen and (max-width: 993.5px) {

  .dispatchme {
    float: right;
    display: inline-flex;
  }
}

@media only screen and (max-width: 993.5px) {

  .dispatchme-title {
    display: none;
  }
}

.fa-user-plus {
  color: #419650;
}

.description-body-codered {
  display: inline-block;
  padding-right: 20px;
}

.description-main {
  cursor: pointer;
}

.description-codered {
  max-width: 1090px;
}

@media only screen and (max-width: 993.5px) {

  .btn.view-plus,
  .description-main {
    display: none;
  }
}

.codeRed-col {
  display: inline-block;
  width: 450px;
  cursor: pointer;
}

.header-maintabs {
  display: inline-block;
}

.dispatchhistory {
  padding-right: 10px;
  float: right;
  text-decoration: underline;
}

.editdispatch {
  margin-top: 0.5rem;
  text-decoration: underline;
}

@media only screen and (max-width: 993.5px) {
  .editdispatch {
    font-size: 15px;
    margin-top: 0.5rem;
    padding-bottom: 20px;
    text-decoration: underline;
  }
}

@media only screen and (max-width: 993.5px) {
  .completeclose-main {
    font-size: 15px;
    padding-bottom: 12px;
  }
}

.tab-content {
  padding: 0 15px 0 15px;
}

@media only screen and (max-width: 993.5px) {
  .tab-content {
    margin-top: 38px;
  }
}

.duedate-main {
  display: inline-block;
}

.date.form-control {
  width: 280px;
}

.notif-main {
  margin-left: 5px;
  display: inline-block;
}

@media only screen and (max-width: 993.5px) {
  .notif-main {
    margin-top: 10px;
  }
}

.completeclose-body {
  display: inline-block;
  color: #fff;
  width: 125px;
  height: 40px;
  padding: 8px 8px 8px 15px;
  border-radius: 3px;
  background-color: #44b4cd;
}

@media only screen and (max-width: 993.5px) {

  th.th-header,
  td {
    font-size: 12px;
  }
}

.status.form-select {
  width: 400px;
}

@media only screen and (max-width: 993.5px) {
  .status.form-select {
    width: 130px;
  }
}

@media only screen and (max-width: 993.5px) {
  .tdtools-status {
    width: 195px;
  }
}

.status-dropdown,
.status-cancelbtn {
  display: inline-block;
}

.status-cancelbtn {
  margin-left: 7px;
}

.close.btn {
  border-radius: 20px;
  height: 29px;
  padding: 0 17px 12px 10px;
  width: 12px;
}

.requestspare-body {
  text-align: center;
}

.no-spare.form-text {
  font-size: 20px;
}

.btn.requestspare {
  color: #6c757d;
}

.mainlink-documenthistory {
  color: #575c63;
}

.mainlink-documenthistory:hover {
  color: #000;
}

.linkdocument-header {
  color: #0c93bc;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 5px solid #0c93bc;
  margin-bottom: 20px;
}

.savetime {
  float: right;
  color: #6c757d
}

/** End of Code Red Row **/

/** End of CloudDISPATCH **/
/** CloudDispatch Number View **/
.followup-save-exit {
  display: inline-block;
  float: right;
}

.followUp {
  border: 0;
  border-radius: 3px;
  width: 93px;
  height: 32px;
  background-color: #8a919d;
  color: #fff;
}

.printButton {
  border: 0;
  border-radius: 3px;
  width: 32px;
  height: 32px;
  background-color: #8a919d;
  color: #fff;
}

.saveExit {
  border: 0;
  border-radius: 3px;
  width: 93px;
  height: 32px;
  background-color: #0c93bc;
  color: #fff;
}

.dispatchedMe {
  width: 110px;
  height: 32px;
  border: 0;
  border-radius: 3px;
  background-color: #0c93bc;
  color: #fff;
}

.requestSpares {
  float: right;
  border: 0;
  width: 138px;
  height: 32px;
  border-radius: 3px;
  background-color: #8a919d;
  color: #fff;
}

.spares {
  font-size: 16px;
  font-weight: normal;
}

.dispatch-tabs {
  padding-left: 0 !important;
  width: 100%;
}

@media only screen and (max-width: 993.5px) {
  .dispatch-tabs {
    min-width: 420px;
    max-width: 420px;
    overflow-y: auto;
    background: #ffffff;
    opacity: 1;
    padding: 10px;
  }
}

@media only screen and (max-width: 993.5px) {
  .dispatch-tabs .dispatch-menu {
    min-width: 960px;
    max-width: 960px;
  }
}

.fender-3030-menu-body {
  background-color: #fff;
}

.dispatchinfo-body {
  padding-left: 10px;
  border-left: 6px #f03f3f solid;
}

.dispatch-information-header {
  padding: 20px;
  font-size: 24px;
  font-weight: 900;
  color: #0c93bc;
  background-color: #f5f5f5;
}

.spares-information {
  padding: 20px 20px 0px 20px;
  font-size: 24px;
  font-weight: 900;
  color: #0c93bc;
  background-color: #f5f5f5;
}

.spares-th {
  font-weight: normal;
  font-size: 14px;
  padding: 0;
}

.addRemove {
  font-weight: normal;
  font-size: 16px;
}

.documentLookup {
  float: right;
  border: 0;
  width: 166px;
  height: 32px;
  font-weight: normal;
  font-size: 16px;
  border-radius: 3px;
  background-color: #8a919d;
  color: #fff;
}

.actionComponents {
  float: right;
  border: 0;
  width: 166px;
  height: 32px;
  font-weight: normal;
  font-size: 16px;
  border-radius: 3px;
  background-color: #8a919d;
  color: #fff;
}

@media only screen and (max-width: 993.5px) {
  .actionComponents {
    float: none;
    border: 0;
    width: 166px;
    height: 32px;
    font-weight: normal;
    font-size: 16px;
    border-radius: 3px;
    background-color: #8a919d;
    color: #fff;
  }
}

.dispatchinformation-image {
  text-align: center;
}

.description-body {
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  opacity: 1;
}

.formControl {
  width: 212px;
}

.right-side-column {
  color: #fff;
}

.submittedBy {
  padding: 20px;
  background-color: #0d324d;
}

.dispatch-resources {
  color: #0d324d;
  padding: 20px;
  background-color: #d3d5d9;
}

.fender-3030-menu {
  opacity: 1;
  padding: 20px 10px 10px 10px;
}

@media only screen and (min-width: 993.5px) {
  .right-side-column-body.collapse:not(.show) {
    display: block !important;
  }
}

@media only screen and (min-width: 993.5px) {
  .rootresource-button {
    display: none !important;
  }
}

@media only screen and (min-width: 993.5px) {

  .rootcauseDown,
  .resourcesDown {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {
  .rootresource-button {
    position: fixed;
    bottom: 0;
    margin-bottom: 70px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 3px 800px #00000029;
    width: 100%;
    border: 0;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #44b4cd;
    align-items: center;
    margin-left: -13px;
  }
}

@media only screen and (min-width: 993.5px) {
  .fender-3030-body {
    display: block !important;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 993.5px) {
  .fender-3030-body {
    margin-bottom: 150px;
    --bs-gutter-x: 0px;
  }
}

@media only screen and (max-width: 993.5px) {
  .fixed {
    position: fixed;
    top: 0;
    min-width: 420px;
    max-width: 420px;
    overflow-y: auto;
  }
}

.fixed {
  position: fixed;
  top: 0;
  width: 1372px;
  overflow-y: auto;
}

.info {
  background: #fff;
  width: 100%;
  height: 40px;
}

@media only screen and (max-width: 993.5px) {
  .info {
    background: #fff;
    width: 800px;
    height: 40px;
    overflow-y: auto;
  }
}

.info a {
  color: #0d324d;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.info a:after {
  background: #0c93bc;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  height: 5px;
  transition: transform 0.35s;
  transform: scale(0);
}

.info a.selected:after {
  transform: scale(1);
}

.section {
  padding: 20px 0 20px 0;
}

@media only screen and (max-width: 993.5px) {
  .resourcesDown {
    width: 100%;
    height: 44px;
    font-size: 18px;
    margin-right: 3px;
    border: 0;
    font-weight: bold;
    background-color: #fff;
    color: #0c93bc;
    text-align: center;
  }
}

@media only screen and (max-width: 993.5px) {
  .resources-down {
    font-size: 20px;
    float: right;
    margin-top: 4px;
  }
}

@media only screen and (max-width: 993.5px) {
  .followup-save-exit {
    float: none;
    padding-left: 85px;
  }
}

@media only screen and (max-width: 993.5px) {
  .complete-close-form {
    display: none;
  }
}

/** End of CloudDispatch Number View **/

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c4cbca;
  border-radius: 10px;
}

@media only screen and (max-width: 993.5px) {

  .pagination-clouddispatch::-webkit-scrollbar,
  .fender-3030-menu::-webkit-scrollbar,
  .dispatch-tabs::-webkit-scrollbar,
  .report-content-header::-webkit-scrollbar,
  .codeRed-main2-header::-webkit-scrollbar,
  .table-responsive::-webkit-scrollbar {
    display: none;
  }
}