
.navbar-collapse {
  box-shadow: 0px 3px 8px #00000029;
  width: 100% !important;
}
.nav-link-home {
  display: block;
  color: #0D324D;
  padding: .5rem 1rem;
}
.nav-link-home:hover {
  color: inherit;
}
@media only screen and (max-width: 993.5px) {

  .navbar-nav .nav-link {
    font-size: 1rem;
    padding-top: 15px;
  }
}

@media only screen and (max-width: 993.5px) {

  img.home-logo {
    display: none;
  }
}

@media only screen and (max-width: 993.5px) {

  nav.navbar {
    padding-top: 0;
  }
}

@media only screen and (max-width: 993.5px) {

  img.logo_l2l {
    padding-left: 15px;
  }
}

@media only screen and (min-width: 993.5px) {

  .logo_l2l img.logo_l2l {
    display: none !important;
  }
}

@media only screen and (max-width: 993.5px) {

  .navbar-light .fa-bars {
    color: #ddd !important;
  }
}

@media only screen and (max-width: 993.5px) {

  button.navbar-toggler {
    padding-top: 5px;
    margin-right: 10px;
    background-color: transparent;
    border: 0 !important;
  }
}

@media only screen and (max-width: 993.5px) {

  .navbar-menu {
    margin-top: 5px;
    padding-top: 7px;
    margin-bottom: 5px;
    height: 45px;
    background-size: cover;
    background-color: #000;
    width: 100%;
    /** border-radius: 0 20px 20px 0; **/
  }
}

@media only screen and (max-width: 993.5px) {

  .navbar-menu .navbar-toggler {
    float: right !important;
  }
}

@media only screen and (max-width: 993.5px) {
  .navbar-main {
    background-color: #0D324D;
    width: 100%;
    /** padding-right: 10px; */
  }
}

@media only screen and (max-width: 993.5px) {

  .navbar-nav .nav-link {
    font-size: 1rem;
    padding-top: 15px;
  }
}
